<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="mobile__menu">
		<div class="container">
			<div class="mobile__menu-reg">
				<a href="#" class="reg-link"> 
					{{Icon iconName="m-user"}} 
					<span>Зарегистрироваться</span>
				</a>
				<p>Мы будем уведомлять вас о новинках</p>
			</div>
			<div class="mobile__menu-info">
				<div class="mobile__menu-one">
					<p>Челябинск, ул. Цинковая, д. 1, корпус 2</p>
				</div>
				<div class="mobile__menu-one">
					<span>Ждём вас ежедневно</span>
					<p>Пн-Пт с 09:00 до 19:00  |  Сб-Вс с 10:00 до 17:00</p>
				</div>
				<div class="mobile__menu-one">
					<span>Звоните</span>
					<div class="phones">
						<a href="tel:+79120825050" class="phone">
							<b>+7 912</b> 082 50 50 Продажи
						</a> 
						<span>|</span>
						<a href="tel:+79049787478" class="phone"> 
							<b>+7 904</b> 978 74 78 Сервис
						</a>
						<a href="tel:+79120825050" class="phone nr">
							<b>+7 351</b> 082 50 50 Офис
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="selectCar">
		<div class="container">
			<div class="selectCar__row">
				<span class="select">подбор автомобиля</span>
				<form action="">
					<div class="marka">
						<div class="marka-label">Марка автомобиля</div>
						<select id="marka">
							<option value="Audi">Audi</option>
							<option value="Bentley">Bentley</option>
							<option value="BMW">BMW</option>
							<option value="Bugatti">Bugatti</option>	
							<option value="Buick">Buick</option>	
							<option value="Buick">Buick</option>	
							<option value="Buick">Buick</option>	
							<option value="Buick">Buick</option>	
							<option value="Buick">Buick</option>
						</select>
					</div>
					<div class="models">
						<div class="models-label">Модель автомобиля</div>
						<select name="" id="models">
							<option value="">Все модели</option>
							<option value="">12312</option>
						</select>
					</div>
					<div class="period">
						<div class="period-label">Период выпуска</div>
						<select name="" id="period">
							<option value="">Любой год выпуска</option>
							<option value="">12312</option>
						</select>
					</div>
					<div class="price">
						<div class="price-label">Стоимость</div>
						<select name="" id="price">
							<option value="">Любая цена</option>
							<option value="">12312</option>
						</select>
					</div>
					<button class="showAll">
						{{Icon iconName="plus"}}
						<span>показать все авто</span>
					</button>
				</form>
			</div>
		</div>
	</div>

	<main class="main">
		<div class="main-container swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="main-img" style="background: url('../static/img/general/main.png') no-repeat center center / cover">
						<div class="container">
							<div class="red-text">продаем</div>
							<div class="blue-text">проверенные и подготовленные автомобили надежных марок</div>
							<div class="red-text">с 2011 года</div>
							<a href="#" class="more">подробнее</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="main-img" style="background: url('../static/img/general/main.png') no-repeat center center / cover">
						<div class="container">
							<div class="red-text">продаем</div>
							<div class="blue-text">проверенные и подготовленные автомобили надежных марок</div>
							<div class="red-text">с 2011 года</div>
							<a href="#" class="more">подробнее</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="main-img" style="background: url('../static/img/general/main.png') no-repeat center center / cover">
						<div class="container">
							<div class="red-text">продаем</div>
							<div class="blue-text">проверенные и подготовленные автомобили надежных марок</div>
							<div class="red-text">с 2011 года</div>
							<a href="#" class="more">подробнее</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="main-img" style="background: url('../static/img/general/main.png') no-repeat center center / cover">
						<div class="container">
							<div class="red-text">продаем</div>
							<div class="blue-text">проверенные и подготовленные автомобили надежных марок</div>
							<div class="red-text">с 2011 года</div>
							<a href="#" class="more">подробнее</a>
						</div>
					</div>
				</div>
			</div>
			<div class="main-btn main-next">{{Icon iconName="arrow"}}</div>
			<div class="main-btn main-prev">{{Icon iconName="arrow"}}</div>
			<div class="main-pagination swiper-pagintaion"></div>
		</div>
	</main>

	<div class="deal">
		<div class="container">
			<ul class="deal__variants">
				<li class="deal__variant">
					<div class="deal__variant-header deal__variant-buy">
						купить автомобиль
					</div>
					<div class="deal__variant-body buy-body active">
						<form class="buy-form">

							<span class="variant-text">выберите марку</span>

							<div class="deal__items">
								<div class="deal__item">
									<input type="radio" name="marka" id="car-chevrolet" class="car-input">
									<label for="" class="car-label">
										<img src="%=static=%img/general/marks/1.png" alt="" class="automark">
									</label>
								</div>
								<div class="deal__item">
									<input type="radio" name="marka" id="car-hyundai" class="car-input">
									<label for="" class="car-label">
										<img src="%=static=%img/general/marks/2.png" alt="" class="automark">
									</label>
								</div>
								<div class="deal__item">
									<input type="radio" name="marka" id="car-nissan" class="car-input">
									<label for="" class="car-label">
										<img src="%=static=%img/general/marks/3.png" alt="" class="automark">
									</label>
								</div>
								<div class="deal__item">
									<input type="radio" name="marka" id="car-opel" class="car-input">
									<label for="" class="car-label">
										<img src="%=static=%img/general/marks/4.png" alt="" class="automark">
									</label>
								</div>
								<div class="deal__item">
									<input type="radio" name="marka" id="car-renault" class="car-input">
									<label for="" class="car-label">
										<img src="%=static=%img/general/marks/5.png" alt="" class="automark">
									</label>
								</div>
								<div class="deal__item">
									<input type="radio" name="marka" id="car-skoda" class="car-input">
									<label for="" class="car-label">
										<img src="%=static=%img/general/marks/6.png" alt="" class="automark">
									</label>
								</div>
								<div class="deal__item">
									<input type="radio" name="marka" id="car-wolf" class="car-input">
									<label for="" class="car-label">
										<img src="%=static=%img/general/marks/7.png" alt="" class="automark">
									</label>
								</div>
							</div>

							<span class="variant-text">выберите параметры</span>

							<div class="deal__selects">
								<div class="dprice">
									<div class="dprice-label">Стоимость</div>
									<select id="dprice">
										<option value="">Любая цена</option>
										<option value="">123</option>
									</select>
								</div>
								<div class="ddate">
									<div class="ddate-label">Период выпуска</div>
									<select id="ddate">
										<option value="">До 2007 года выпуска</option>
										<option value="">2008 - 2019 г. в.</option>
										<option value="">2011 - 2013 г. в.</option>
										<option value="">2014 - 2015 г. в.</option>
										<option value="">2016 - н. в.</option>
									</select>
								</div>
								<div class="dprobeg">
									<div class="dprobeg-label">Период выпуска</div>
									<select id="dprobeg">
										<option value="">До 20 000 км</option>
										<option value="">123123</option>
									</select>
								</div>

								<div class="ditems">
									<div class="ditem">
										<input type="radio" name="type" id="akpp" class="d-input">
										<label for="" class="d-label">
											АКПП
										</label>
									</div>
									<div class="ditem">
										<input type="radio" name="type" id="mkpp" class="d-input">
										<label for="" class="d-label">
											МКПП
										</label>
									</div>
								</div>
							</div>

							<div class="form-submit">
								<button class="form-btn">
									{{Icon iconName="plus"}}
									Показать все авто
								</button>
							</div>

						</form>

					</div>
				</li>
				<li class="deal__variant">
					<div class="deal__variant-header deal__variant-sell">
						продать автомобиль
					</div>
					<div class="deal__variant-body sell-body">
						
						<form action="" class="sell-form">
							<span class="variant-text">выберите параметры вашего автомобиля</span>	
							<div class="deal__selects">
								<div class="dmarka">
									<div class="dmarka-label">Марка автомобиля</div>
									<select id="dmarka">
										<option value="">Выберите марку</option>
										<option value="">123</option>
									</select>
								</div>
								<div class="dmodel">
									<div class="dmodel-label">Модель автомобиля</div>
									<select id="dmodel">
										<option value="">Выберите модель</option>
										<option value="">123</option>
									</select>
								</div>
								<div class="dperiod">
									<div class="dperiod-label">Период выпуска</div>
									<select id="dperiod">
										<option value="">Укажите год выпуска</option>
										<option value="">123</option>
									</select>
								</div>
								<div class="dprobeg2">
									<div class="dprobeg2-label">Период выпуска</div>
									<select id="dprobeg2">
										<option value="">Укажите год выпуска</option>
										<option value="">123</option>
									</select>
								</div>
							</div>

							<div class="alert">
								{{Icon iconName="alert"}}
								<p>Для предварительной оценки автомобиля достаточно просто заполнить требуемые параметры. Наши специалисты оценят стоимость автомобиля в течении 1 рабочего дня и свяжутся с вами. Окончательная стоимость определяется нашими специалистами при осмотре автомобиля.</p>
							</div>

							<div class="form-submit mt60">
								<a href="#" class="podrobnee">Подробнее о «Выкупе Вашего авто»</a>
								<button class="redbtn">узнать цену</button>
							</div>
						</form>

					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="special">
		<div class="container">
			<div class="special__title">
				<h3 class="title">Специальные предложения на автомобили с пробегом</h3>
			</div>
			<div class="special__items">
				<div class="special__items-four">
					<div class="swiper-slide special__item">
						<div class="special__item-img">
							<div class="special__item-value">
								{{Icon iconName="image"}}
								<p>12</p>
							</div>

							<a href="#" class="special__item-hidden">
								{{Icon iconName="eye"}}
								<span>смотреть подробнее</span>
							</a>

							<img src="%=static=%img/general/cars/1.png" alt="Специальные предложения">
						</div>
						<div class="special__item-info">
							<h4>Citroen C4</h4>
							<div class="description">
								{{Icon iconName="shest"}}
								<p>2015 г.  |  91 139 км  |  1.6 Бензин  |  АКПП</p>
							</div>
							<div class="car-price">
								<span class="new-price">530 000 ₽</span>
								<span class="old-price">550 000 ₽</span>
							</div>
							<div class="car-call">
								<a href="#" class="callback">заказать звонок</a>
							</div>
						</div>
					</div>

					<div class="swiper-slide special__item">
						<div class="special__item-img">
							<div class="special__item-value">
								{{Icon iconName="image"}}
								<p>09</p>
							</div>

							<a href="#" class="special__item-hidden">
								{{Icon iconName="eye"}}
								<span>смотреть подробнее</span>
							</a>

							<img src="%=static=%img/general/cars/2.png" alt="Специальные предложения">
						</div>
						<div class="special__item-info">
							<h4>Skoda Octavia</h4>
							<div class="description">
								{{Icon iconName="shest"}}
								<p>2017 г.  |  85 942 км  |  1.6 Бензин  |  АКПП</p>
							</div>
							<div class="car-price">
								<span class="new-price">785 000 ₽</span>
								<span class="old-price">810 000 ₽</span>
							</div>
							<div class="car-call">
								<a href="#" class="callback">заказать звонок</a>
							</div>
						</div>
					</div>

					<div class="swiper-slide special__item">
						<div class="special__item-img">
							<div class="special__item-value">
								{{Icon iconName="image"}}
								<p>12</p>
							</div>

							<a href="#" class="special__item-hidden">
								{{Icon iconName="eye"}}
								<span>смотреть подробнее</span>
							</a>

							<img src="%=static=%img/general/cars/1.png" alt="Специальные предложения">
						</div>
						<div class="special__item-info">
							<h4>Citroen C4</h4>
							<div class="description">
								{{Icon iconName="shest"}}
								<p>2017 г.  |  85 942 км  |  1.6 Бензин  |  АКПП</p>
							</div>
							<div class="car-price">
								<span class="new-price">530 000 ₽</span>
								<span class="old-price">550 000 ₽</span>
							</div>
							<div class="car-call">
								<a href="#" class="callback">заказать звонок</a>
							</div>
						</div>
					</div>

					<div class="swiper-slide special__item">
						<div class="special__item-img">
							<div class="special__item-value">
								{{Icon iconName="image"}}
								<p>09</p>
							</div>

							<a href="#" class="special__item-hidden">
								{{Icon iconName="eye"}}
								<span>смотреть подробнее</span>
							</a>

							<img src="%=static=%img/general/cars/2.png" alt="Специальные предложения">
						</div>
						<div class="special__item-info">
							<h4>Skoda Octavia</h4>
							<div class="description">
								{{Icon iconName="shest"}}
								<p>2017 г.  |  85 942 км  |  1.6 Бензин  |  АКПП</p>
							</div>
							<div class="car-price">
								<span class="new-price">785 000 ₽</span>
								<span class="old-price">810 000 ₽</span>
							</div>
							<div class="car-call">
								<a href="#" class="callback">заказать звонок</a>
							</div>
						</div>
					</div>

				</div>

				<div class="special__item more__item">
					<p>показать</p>
					<span>Все</span>
					<p>авто</p>
					<img src="%=static=%img/general/cars/mini.png" alt="Специальные предложения">
					<a href="#" class="tomore">Перейти</a>
				</div>


			</div>
		</div>
	</div>

	<div class="scheme">
		<div class="container">
			<div class="scheme__title">
				<h3 class="title">Схема продажи автомобиля</h3>
			</div>
			<div class="scheme__items">
				<div class="scheme__item">
					<div class="scheme__item-top">
						{{Icon iconName="scheme1"}}
						<img src="%=static=%img/general/arrow-next.svg" alt="Схема" class="next-arr">
					</div>
					<div class="scheme__item-bottom">
						<p>Выбор <br> автомобиля</p>
					</div>
				</div>
				<div class="scheme__item">
					<div class="scheme__item-top">
						{{Icon iconName="scheme2"}}
						<img src="%=static=%img/general/arrow-next.svg" alt="Схема" class="next-arr">
					</div>
					<div class="scheme__item-bottom">
						<p>Осмотр, <br> тест-драйв</p>
					</div>
				</div>
				<div class="scheme__item">
					<div class="scheme__item-top">
						{{Icon iconName="scheme3"}}
						<img src="%=static=%img/general/arrow-next.svg" alt="Схема" class="next-arr">
					</div>
					<div class="scheme__item-bottom">
						<p>Trade-in или кредит, <br>
						при необходимости</p>
					</div>
				</div>
				<div class="scheme__item">
					<div class="scheme__item-top">
						{{Icon iconName="scheme4"}}
						<img src="%=static=%img/general/arrow-next.svg" alt="Схема" class="next-arr">
					</div>
					<div class="scheme__item-bottom">
						<p>Договор купли-продажи</p>
						<span>Подготовка документов для постановки на учет и оформление ОСАГО</span>
					</div>
				</div>
				<div class="scheme__item">
					<div class="scheme__item-top">
						{{Icon iconName="scheme5"}}
						<img src="%=static=%img/general/arrow-next.svg" alt="Схема" class="next-arr">
					</div>
					<div class="scheme__item-bottom">
						<p>Вы получаете ключи и документы от авто</p>
					</div>
				</div>
				<div class="scheme__item">
					<div class="scheme__item-top">
						{{Icon iconName="scheme6"}}
					</div>
					<div class="scheme__item-bottom">
						<p>Послепродажная <br> поддержка</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="gift">
		<div class="gift__right">
			<form action="">
				<div class="form-item">
					<div class="form-label">Как Вас зовут?</div>
					<input type="text" class="form-input" placeholder="Введите Ваше имя">
				</div>
				<div class="form-item">
					<div class="form-label">Ваш номер телефона</div>
					<input type="text" class="form-input" id="form-phone" placeholder="+7 ( ___ ) ___ - __ - __">
				</div>
				<button class="redbtn">получить подарок</button>
			</form>
		</div>
		<div class="gift__left">
			<h4>Получи второй комплект резины в подарок</h4>
			<p>
				Просто заполни форму
				{{Icon iconName="arrow-next"}}
			</p>
		</div>
	</div>

	<div class="reviews">
		<div class="container">
			<div class="reviews__title">
				<h3 class="title">Отзывы наших клиентов</h3>
				<div class="reviews-nav">
					<div class="reviews-btn reviews-prev">{{Icon iconName="arrow-next"}}</div>
					<div class="reviews-btn reviews-next">{{Icon iconName="arrow-next"}}</div>
				</div>
			</div>
			<div class="reviews-container swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide reviews-slide">
						<img src="%=static=%img/general/reviews/1.png" alt="Отзывы" class="user-photo">
						<div class="user__reviews">
							<a href="#" class="user-link">Иван Петров</a>
							<div class="reviews__date">01-11-2019</div>
							<div class="reviews__text">
								Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Таким образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации новых предложений. 
							</div>
						</div>
						{{Icon iconName="triangle"}}
					</div>

					<div class="swiper-slide reviews-slide">
						<img src="%=static=%img/general/reviews/2.png" alt="Отзывы" class="user-photo">
						<div class="user__reviews">
							<a href="#" class="user-link">Сергей Иванов</a>
							<div class="reviews__date">01-11-2019</div>
							<div class="reviews__text">
								Повседневная практика показывает, что новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий. Задача организации, в особенности же реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации новых предложений. 
							</div>
						</div>
						{{Icon iconName="triangle"}}
					</div>

					<div class="swiper-slide reviews-slide">
						<img src="%=static=%img/general/reviews/3.png" alt="Отзывы" class="user-photo">
						<div class="user__reviews">
							<a href="#" class="user-link">Ольга Михайлова</a>
							<div class="reviews__date">01-11-2019</div>
							<div class="reviews__text">
								Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание систем массового участия. Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации модели развития.
							</div>
						</div>
						{{Icon iconName="triangle"}}
					</div>

					<div class="swiper-slide reviews-slide">
						<img src="%=static=%img/general/reviews/1.png" alt="Отзывы" class="user-photo">
						<div class="user__reviews">
							<a href="#" class="user-link">Иван Петров</a>
							<div class="reviews__date">01-11-2019</div>
							<div class="reviews__text">
								Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Таким образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации новых предложений. 
							</div>
						</div>
						{{Icon iconName="triangle"}}
					</div>

					<div class="swiper-slide reviews-slide">
						<img src="%=static=%img/general/reviews/2.png" alt="Отзывы" class="user-photo">
						<div class="user__reviews">
							<a href="#" class="user-link">Сергей Иванов</a>
							<div class="reviews__date">01-11-2019</div>
							<div class="reviews__text">
								Повседневная практика показывает, что новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий. Задача организации, в особенности же реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации новых предложений. 
							</div>
						</div>
						{{Icon iconName="triangle"}}
					</div>

					<div class="swiper-slide reviews-slide">
						<img src="%=static=%img/general/reviews/3.png" alt="Отзывы" class="user-photo">
						<div class="user__reviews">
							<a href="#" class="user-link">Ольга Михайлова</a>
							<div class="reviews__date">01-11-2019</div>
							<div class="reviews__text">
								Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание систем массового участия. Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации модели развития.
							</div>
						</div>
						{{Icon iconName="triangle"}}
					</div>

				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="footer__top">
				<div class="header__home">
					{{Icon iconName="home"}}
					<div class="header__home-place">
						<span>
							Челябинск, <br>
							ул. Цинковая, д. 1, корпус 2
						</span>
						<a href="#" class="show-link">Посмотреть схему проезда</a>
					</div>
				</div>
				<div class="header__time">
					{{Icon iconName="calendar"}}
					<div class="header__time-info">
						<span>Ждём вас ежедневно</span>
						<p>Пн-Пт с 09:00 до 19:00</p>
						<p>Сб-Вс с 10:00 до 17:00</p>
					</div>
				</div>
				<div class="header__call">
					{{Icon iconName="phone"}}
					<div class="header__call-info">
						<span>Звоните</span>
						<a href="tel:+79120825050" class="phone"><b>+7 912</b> 082 50 50 Продажи </a>
						<a href="tel:+79049787478" class="phone"><b>+7 904</b> 978 74 78 Сервис</a>
					</div>
				</div>
				<div class="header__office">
					<a href="tel:+79120825050" class="phone"><b>+7 351</b> 082 50 50 Офис</a>
					<a href="#" class="callback">Обратная связь</a>
				</div>

				<div class="footer__right">
					<a href="#" class="req-link">{{Icon iconName="right-icon"}} заявка на подбор</a>
					<a href="#" class="est-link">{{Icon iconName="right-icon2"}} оценить свой авто</a>
				</div>
			</div>
		</div>
	</footer>

	<div class="footer__bottom">
		<div class="container">
			<div class="footer__bottom-left">
				<div class="footer__bottom-col">
					<a href="#" class="big-link">Главная</a>
					<a href="#" class="big-link">Каталог</a>
					<a href="#" class="big-link big-after">Продать автомобиль</a>

					<a href="#" class="normal-link">Выкуп вашего авто</a>
					<a href="#" class="normal-link">Комиссия</a>
					<a href="#" class="normal-link">Оценить свой автомобиль</a>
					<a href="#" class="normal-link">Подать объявление</a>
				</div>

				<div class="footer__bottom-col">
					<a href="#" class="big-link big-after">Автосервис</a>

					<a href="#" class="normal-link">Акции автосервиса</a>
					<a href="#" class="normal-link">Услуги автосервиса</a>
					<a href="#" class="normal-link">Запчасти и аксессуары</a>
					<a href="#" class="normal-link">Запись на ТО и сервис</a>
				</div>

				<div class="footer__bottom-col">
					<a href="#" class="big-link big-after">О нас</a>

					<a href="#" class="normal-link">Преимущества</a>
					<a href="#" class="normal-link">Вакансии</a>
					<a href="#" class="normal-link">Партнеры</a>
					<a href="#" class="normal-link">Отзывы</a>


					<a href="#" class="big-link big-mt">Контакты</a>
				</div>
			</div>

			<div id="map" class="map" data-icon-url="static/img/general/mark.svg"></div>
		</div>
	</div>

	<div class="to-up">
		{{Icon iconName="arrow-up"}}
	</div>

	<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
	<script>svg4everybody();</script>

	<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>