.header {
	padding-top: 25px;
	&__top {
		display: flex;
		align-items: flex-start;
	}
	&__logo {
		padding-right: 60px;
		border-right: 1px solid #E3E9EF;
	}
	&__home {
		margin-left: 62px;
		display: flex;
		align-items: flex-start;
		&-place {
			margin-left: 8px;
			max-width: 168px;
			span {
				display: inline-block;
				.pb();
				font-size: 14px;
				line-height: 20px;
				color: @textcolor;
			}
			.show-link {
				display: inline-block;
				.pr();
				margin-top: 8px;
				font-size: 13px;
				line-height: 17px;
				text-decoration-line: underline;
				color: @bluebtn;
			}
		}
	}
	&__time {
		display: flex;
		align-items: flex-start;
		margin-left: 72px;
		&-info {
			margin-left: 8px;
			max-width: 172px;
			span {
				display: inline-block;
				.pb();
				color: @redbtn;
				font-size: 14px;
				line-height: 20px;
			}
			p {
				.pb();
				color: @textcolor;
				font-size: 14px;
				line-height: 20px;
				margin-top: 2px;
			}
		}
	}
	&__call {
		display: flex;
		align-items: flex-start;
		margin-left: 61px;
		&-info {
			margin-left: 8px;
			max-width: 200px;
			span {
				display: inline-block;
				.pb();
				color: @redbtn;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
	&__office {
		margin-left: 55px;
		.callback {
			.pr();
			font-size: 13px;
			line-height: 17px;
			text-decoration-line: underline;
			margin-top: 2px;
			color: @bluebtn;
		}
	}
	&__user {
		margin-left: auto;
		display: flex;
		align-items: flex-start;
		&-info {
			max-width: 150px;
			margin-left: 11px;
			.register {
				display: inline-block;
				.pb();
				color: @redbtn;
				font-size: 14px;
				line-height: 16px;
			}
			p {
				.pr();
				color: @textcolor;
				font-size: 14px;
				line-height: 16px;
			}
		}
	}

	&__bottom {
		background: @bluebtn;
		margin-top: 25px;
		position: relative;
		&-line {
			display: flex;
		}
		.nav-list {
			display: flex;
			align-items: center;
			&-item {
				&:first-child .nav-link {
					padding-left: 0;
				}
			}	
		}
		.nav-link {
			display: inline-block;
			color: @light;
			.pb();
			letter-spacing: 0.2em;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 18px;
			padding: 11px 40px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				height: 16px;
				width: 1px;
				background: #5298D9;
			}
		}

		.right__nav {
			position: absolute;
			background: url('%=static=%general/right-bg.png') no-repeat center center / cover;
			bottom: 0;
			right: 0;
			width: 571px;
			height: 70px;
			padding: 20px 0;
			text-align: center;
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: -1px;
				background: @light;
				height: 100%;
				width: 1px;
				transform: rotate(29deg) translateX(18px);
			}

			.req-link {
				display: inline-flex;
				align-items: flex-start;
				color: @light;
				.pb();
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				max-width: 180px;
				text-align: left;
				padding-right: 60px;
				border-right: 1px solid @bluebtn;
				svg {
					flex-shrink: 0;
					margin-right: 10px;
				}
			}
			.est-link {
				display: inline-flex;
				align-items: flex-start;
				color: @light;
				.pb();
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				max-width: 180px;
				text-align: left;
				padding-left: 60px;
				svg {
					flex-shrink: 0;
					margin-right: 10px;
				}
			}
		}
	}
}

.phone {
	display: block;
	.pb();
	color: @textcolor;
	font-size: 14px;
	line-height: 22px;
	b {
		color: @bluebtn;
		font-size: 16px;
	}
}

.selectCar {
	padding: 12px 0;
	&__row {
		display: flex;
		align-items: center;
		form {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	.select {
		display: inline-block;
		margin-right: 21px;
		.pb();
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.07em;
		text-transform: uppercase;

		color: #A1AAAF;
	}
	

	.marka {
		margin-right: 24px;
		position: relative;
		.select2-container {
			width: 217px !important;
		}
		&-label {
			position: absolute;
			top: 5px;
			left: 20px;
			z-index: 123;
			.pb();
			font-size: 11px;
			line-height: 14px;
			letter-spacing: 0.05em;
			color: #A1AAAF;
		}
	}
	.models {
		margin-right: 24px;
		position: relative;
		.select2-container {
			width: 260px !important;
		}
		&-label {
			position: absolute;
			top: 5px;
			left: 20px;
			z-index: 123;
			.pb();
			font-size: 11px;
			line-height: 14px;
			letter-spacing: 0.05em;
			color: #A1AAAF;
		}
	}
	.period {
		margin-right: 24px;
		position: relative;
		.select2-container {
			width: 402px !important;
		}
		&-label {
			position: absolute;
			top: 5px;
			left: 20px;
			z-index: 123;
			.pb();
			font-size: 11px;
			line-height: 14px;
			letter-spacing: 0.05em;
			color: #A1AAAF;
		}
	}
	.price {
		margin-right: 24px;
		position: relative;
		.select2-container {
			width: 260px !important;
		}
		&-label {
			position: absolute;
			top: 5px;
			left: 20px;
			z-index: 123;
			.pb();
			font-size: 11px;
			line-height: 14px;
			letter-spacing: 0.05em;
			color: #A1AAAF;
		}
	}
	.showAll {
		border-radius: 2px;
		background: @redbtn;
		border: none;
		outline: none;
		width: 260px;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		svg {
			width: 30px;
			height: 30px;
			fill: #fff;
			margin-right: 5px;
		}
		span {
			.pb();
			font-size: 14px;
			letter-spacing: 0.05em;
			text-transform: uppercase;

			color: #FFFFFF;
		}
	}
}
.select2-dropdown {
	margin-top: 2px !important;
	background: #FFFFFF !important;
	border: 1px solid #E3E9EF !important;
	box-shadow: 0px 2px 6px rgba(208, 218, 233, 0.7) !important;
	border-radius: 2px !important;
}
.select2-results__options {
	padding: 20px;
}
.select2-results__option {
	.pb();
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.07em;
	color: @bluebtn;
	padding: 0 !important;
	margin-bottom: 8px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: transparent;
	color: #68A9E6;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: transparent;
	color: #68A9E6;
}
.select2-container--focus {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}
.select2-container--below {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}

.select2-container--default .select2-results > .select2-results__options {
	max-height: 170px !important;
	padding-right: 20px;
	&::-webkit-scrollbar-track {
		background-color: #D0DAE9;
		padding-right: 10px !important;
	}
	&::-webkit-scrollbar-button {
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px !important;
		background-color: #307FC9;
		height: 30px !important;
		width: 3px;
	}
	&::-webkit-scrollbar{
		width: 4px;
		margin-right: 10px;
	}
}
.select2-container--default .select2-selection--single {
	background: #E9F0F9 !important;
	border: 1px solid #E3E9EF !important;
	border-radius: 2px !important;
	height: 44px !important;
	overflow: hidden;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 54px !important;
	padding-left: 20px !important;
	.pb();
	font-size: 14px !important;
	letter-spacing: 0.05em !important;
	color: #616467 !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 50% !important;
	transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #AEB7BD transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent @bluebtn transparent;
}
.select2-container--open .select2-selection--single {
	background: #FFFFFF !important;
	border: 1px solid #307FC9 !important;
	box-shadow: 0px 2px 6px rgba(208, 218, 233, 0.7) !important;
}


.main {
	&-container {
		width: 100%;
		height: 100%;
		position: relative;
	}
	
	&-img {
		height: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.red-text {
		.pb();
		font-size: 30px;
		line-height: 39px;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		color: @redbtn;
	}
	.blue-text {
		.pb();
		font-size: 56px;
		line-height: 60px;
		display: flex;
		align-items: center;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: @bluebtn;
		max-width: 910px;
		margin: 10px 0;
	}
	.more {
		display: inline-block;
		background: @redbtn;
		box-shadow: 0px 12px 30px rgba(221, 40, 25, 0.15);
		border-radius: 2px;
		width: 260px;
		height: 48px;

		.pb();

		text-align: center;
		line-height: 48px;

		font-size: 14px;
		letter-spacing: 0.2em;
		text-transform: uppercase;

		color: @light;
		margin-top: 26px;
	}
	&-btn {
		width: 48px;
		height: 48px;
		background: @bluebtn;
		opacity: 0.7;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 12;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		svg {
			fill: transparent;
		}
	}
	&-next {
		right: 0;
	}
	&-prev {
		left: 0;
		svg {
			transform: rotate(180deg);
		}
	}

	&-pagination {
		position: absolute;
		bottom: 80px !important;
		z-index: 9;
		text-align: center;
	}
	.swiper-pagination-bullet {
		width: 45px;
		height: 4px;
		background: #D0DAE9;
		border-radius: 2px;
		margin: 0 5px;
	}
	.swiper-pagination-bullet-active {
		background: @bluebtn;
	}
}

.deal {
	background: #F4F7F9;
	padding-bottom: 40px;
	&__variants {
		display: flex;
		align-items: flex-start;
		background: @light;
		border: 1px solid rgba(227, 233, 239, 0.6);
		box-shadow: 0px 6px 22px rgba(199, 209, 222, 0.5);
		border-radius: 2px;
		margin-top: -65px;
		position: relative;
		z-index: 142;
	}
	&__variant {
		width: 50%;
		&-header {
			.pb();
			height: 60px;
			font-size: 18px;
			line-height: 60px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			text-align: center;
			border-right: 1px solid #E3E9EF;
			border-bottom: 1px solid #E3E9EF;
		}
		&-buy {
			color: @bluebtn;			
		}
		&-sell {
			color: @redbtn;
			border-right: none;
		}

		&-body {
			padding: 0 30px 30px 30px;
			&.buy-body {
				border-right: 1px solid #E3E9EF;
			}
			span.variant-text {
				display: inline-block;
				margin-top: 20px;
				.pb();
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0.07em;
				text-transform: uppercase;

				color: #A1AAAF;
			}
			.buy-form {
				.deal__items {
					margin-top: 20px;
					display: flex;
					align-items: center;
					flex-wrap: wrap;
				}
				.deal__item {
					position: relative;
					margin-bottom: 6px;
					width: auto;
				}
				.automark {
					max-height: 60px;
					filter: grayscale(100%);
					&:hover {
						filter: grayscale(0);
					}
				}
				.car-label {
					display: flex;
					align-items: center;
					justify-content: center;
					// width: 150px;
					height: 60px;
					user-select: none;
					cursor: pointer;
					border-radius: 2px;
					border: 1px solid transparent;
					svg {
						fill: #6D7C94;
					}
					span {
						.pb();
						font-size: 14px;
						letter-spacing: 0.05em;
						text-transform: uppercase;
						color: #6D7C94;
						margin-left: 13px;
					}
					.checked {
						opacity: 0;
						position: absolute;
						top: -9px;
						right: 10px;
					}
				}
				.car-all {
					svg {

					}
					span {
						font-size: 12px;
						padding-left: 10px;
						border-left: 1px solid rgba(164, 187, 216, .3);; 
					}
				}
				.car-input {
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					// &:checked + .car-label {
					// 	background: @light;
					// 	border: 1px solid @bluebtn;
					// 	.checked {
					// 		opacity: 1;
					// 	}
					// 	svg {
					// 		fill: @bluebtn !important;
					// 	}
					// 	span {
					// 		color: @bluebtn;
					// 	}
					// }
					&:checked + .car-label {
						.automark {
							filter: grayscale(0);
						}
					}
				}
			}
		}
	}

	&__selects {
		margin-top: 20px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		#select2-ddate-results {
			padding: 15px;
		}
		.dprice {
			position: relative;
			margin-right: 6px;
			.select2-container {
				width: 202px !important;
			}
			&-label {
				position: absolute;
				top: 5px;
				left: 20px;
				z-index: 123;
				.pb();
				font-size: 11px;
				line-height: 14px;
				letter-spacing: 0.05em;
				color: #A1AAAF;
			}
		}
		.ddate {
			position: relative;
			margin-right: 6px;
			.select2-container {
				width: 202px !important;
			}
			&-label {
				position: absolute;
				top: 5px;
				left: 20px;
				z-index: 123;
				.pb();
				font-size: 11px;
				line-height: 14px;
				letter-spacing: 0.05em;
				color: #A1AAAF;
			}
		}
		.dprobeg {
			position: relative;
			margin-right: 6px;
			.select2-container {
				width: 202px !important;
			}
			&-label {
				position: absolute;
				top: 5px;
				left: 20px;
				z-index: 123;
				.pb();
				font-size: 11px;
				line-height: 14px;
				letter-spacing: 0.05em;
				color: #A1AAAF;
			}
		}

		.dmarka {
			position: relative;
			margin-right: 6px;
			margin-bottom: 6px;
			.select2-container {
				width: 386px !important;
			}
			&-label {
				position: absolute;
				top: 5px;
				left: 20px;
				z-index: 123;
				.pb();
				font-size: 11px;
				line-height: 14px;
				letter-spacing: 0.05em;
				color: #A1AAAF;
			}
		}

		.dmodel {
			position: relative;
			margin-bottom: 6px;
			.select2-container {
				width: 386px !important;
			}
			&-label {
				position: absolute;
				top: 5px;
				left: 20px;
				z-index: 123;
				.pb();
				font-size: 11px;
				line-height: 14px;
				letter-spacing: 0.05em;
				color: #A1AAAF;
			}
		}

		.dperiod {
			position: relative;
			margin-right: 6px;
			.select2-container {
				width: 386px !important;
			}
			&-label {
				position: absolute;
				top: 5px;
				left: 20px;
				z-index: 123;
				.pb();
				font-size: 11px;
				line-height: 14px;
				letter-spacing: 0.05em;
				color: #A1AAAF;
			}
		}

		.dprobeg2 {
			position: relative;
			.select2-container {
				width: 386px !important;
			}
			&-label {
				position: absolute;
				top: 5px;
				left: 20px;
				z-index: 123;
				.pb();
				font-size: 11px;
				line-height: 14px;
				letter-spacing: 0.05em;
				color: #A1AAAF;
			}
		}
		
		.ditems {
			display: flex;
			.ditem {
				display: flex;
				margin-left: 10px;
				.d-input {
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					&:checked + .d-label {
						color: @textcolor;
						&::before {
							content: url(../img/general/check.svg);
							border: 1px solid @bluebtn;
							background: @light;
						}
					}
				}
				.d-label {
					display: inline-flex;
					align-items: center;
					.pb();
					font-size: 11px;
					line-height: 14px;
					letter-spacing: 0.05em;
					color: #A1AAAF;
					user-select: none;
					cursor: pointer;
					&::before {
						content: '';
						display: inline-block;
						width: 20px;
						height: 20px;
						background: @selectcolor;
						border-radius: 2px;
						margin-right: 6px;
						text-align: center;
						line-height: 20px;
						border: 1px solid transparent;
					}
				}
			}
		}
	}
	.form-submit {
		margin-top: 35px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&.mt60 {
			margin-top: 25px;
		}
	}
	.form-btn {
		width: 356px;
		height: 48px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: @bluebtn;
		box-shadow: 0px 12px 30px rgba(48, 127, 201, 0.15);
		border-radius: 2px;
		.pb();
		font-size: 14px;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		color: @light;
		border: none;
		cursor: pointer;
		svg {
			width: 30px;
			height: 30px;
			fill: #fff;
			margin-right: 10px;
		}
	}

	.alert {
		display: flex;
		margin-top: 30px;
		svg {
			flex-shrink: 0;
		}
		p {
			.pr();
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.03em;
			color: #A1AAAF;
			margin-left: 11px;
		}
	}
	.redbtn {
		width: 384px;
		height: 48px;

		background: #DD2819;
		box-shadow: 0px 12px 30px rgba(221, 40, 25, 0.15);
		border-radius: 2px;
		.pb();
		font-size: 14px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: @light;

		text-align: center;
		line-height: 48px;
		border: none;
		margin-left: 75px;
		cursor: pointer;
	}
	.podrobnee {
		.pr();
		display: inline-block;
		font-size: 15px;
		line-height: 19px;
		letter-spacing: 0.02em;
		text-decoration-line: underline;

		color: @bluebtn;
	}
}


.special {
	padding: 20px 0;
	background: #F4F7F9;
	&__items {
		display: flex;
		margin-top: 20px;
		&-four {
			display: flex;
			margin-right: 20px;
		}
	}
	&__item {
		background: @light;
		border: 1px solid #E3E9EF;
		box-shadow: 0px 1px 4px #DAE5F5;
		border-radius: 2px;
		width: 320px;
		&.more__item {
			border: 1px solid @bluebtn;
			border-radius: 2px;
			padding: 76px 30px 30px 30px;
			text-align: center;
			p {
				.pb();
				font-size: 20px;
				line-height: 26px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #307FC9;
			}
			span {
				.pb();
				display: inline-block;
				font-size: 56px;
				line-height: 72px;
				letter-spacing: -0.02em;
				text-transform: uppercase;

				color: #307FC9;
			}
			img {
				margin-top: 65px;
			}
			.tomore {
				display: inline-block;
				background: #307FC9;
				border-radius: 2px;

				width: 100%;
				height: 44px;
				line-height: 44px;
				text-align: center;

				.pb();
				font-size: 14px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #FFFFFF;
				margin-top: 82px;
			}
		}
		&:not(:last-child) {
			margin-right: 20px;
		}
		&:hover {
			border: 1px solid @bluebtn;

			.special__item-hidden {
				opacity: 1;
				transition: .3s;
			}
			.car-call .callback {
				background: #1D65A8;
				transition: .3s;
			}
		}
		&-img {
			width: 100%;
			height: 270px;
			position: relative;
			z-index: 11;
			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
				object-fit: cover;
			}
		}
		&-value {
			position: absolute;
			top: 10px;
			right: 10px;

			width: 60px;
			height: 30px;
			z-index: 13;

			background: rgba(0, 0, 0, .5);
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				margin-right: 6px;
			}
			p {
				.pb();
				font-size: 12px;
				line-height: 18px;
				color: @light;
			}
		}

		&-hidden {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 12;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: rgba(0, 0, 0, 0.6);
			transition: .3s;
			span {
				display: inline-block;
				margin-top: 10px;
				.pb();
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0.04em;
				text-transform: uppercase;
				color: #FFFFFF;
			}
		}

		&-info {
			padding: 30px;
			h4 {
				.pb();
				font-size: 22px;
				line-height: 28px;
				letter-spacing: 0.03em;
				text-transform: uppercase;
				color: #232425;
			}
			.description {
				margin-top: 15px;
				display: flex;
				align-items: center;
				svg {
					flex-shrink: 0;
					margin-right: 3px;
				}
				p {
					.pb();
					font-size: 14px;
					line-height: 16px;
					color: #A1AAAF;
					max-width: 230px;
				}
			}

			.car-price {
				display: flex;
				align-items: center;
				margin-top: 20px;
				.new-price {
					.pb();
					color: @redbtn;
					font-size: 26px;
					line-height: 34px;
					text-transform: uppercase;
					margin-right: 15px;
				}
				.old-price {
					.pb();
					font-size: 20px;
					line-height: 26px;
					text-decoration-line: line-through;
					text-transform: uppercase;

					color: #A1AAAF;
				}
			}
			.car-call {
				margin-top: 15px;
				.callback {
					display: inline-block;
					width: 100%;
					height: 44px;
					line-height: 44px;
					background: @bluebtn;
					border-radius: 2px;
					text-align: center;
					
					.pb();
					font-size: 14px;
					letter-spacing: 0.05em;
					text-transform: uppercase;

					color: @light;
					transition: .3s;
				}
			}
		}
	}
}

.scheme {
	padding: 20px 0;
	background: #F4F7F9;
	&__items {
		display: flex;
		align-items: flex-start;
		padding-top: 45px;
		margin-top: 20px;
		background: @light;
		border: 1px solid #E3E9EF;
		box-sizing: border-box;
		box-shadow: 0px 1px 4px #DAE5F5;
		border-radius: 2px;
	}
	&__item {
		width: calc(100% / 6);
		&:last-child {
			.scheme__item-bottom {
				border-right: 0;
			}
		}
		&-top {
			position: relative;

			.next-arr {
				position: absolute;
				top: 50%;
				right: -15px;
				transform: translateY(-50%);
				flex-shrink: 0;
			}
		}
		&-bottom {
			border-top: 1px solid #E3E9EF;
			border-right: 1px solid #E3E9EF;
			height: 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			.pb();
			font-size: 18px;
			line-height: 23px;
			letter-spacing: 0.05em;
			color: @bluebtn;
			span {
				display: block;
				.pr();
				font-size: 13px;
				line-height: 17px;
				text-align: center;
				color: #A1AAAF;
				max-width: 270px;
			}
		}
	}
}

.gift {
	position: relative;
	padding: 60px 0;
	background: #F4F7F9;
	&__right {
		background: url(%=static=%general/gift-bg.png) no-repeat center center / cover;
		height: 280px;
		width: 1292px;
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		form {
			display: flex;
			align-items: center;
		}
		.form-item {
			position: relative;
			padding: 6px 19px;
			background: #E9F0F9;
			border: 1px solid #E3E9EF;
			border-radius: 2px;
			width: 260px;
			height: 54px;
			margin-right: 24px;
		}
		.form-label {
			.pb();
			font-size: 11px;
			line-height: 14px;
			letter-spacing: 0.05em;
			color: #A1AAAF;
		}
		.form-input {
			margin-top: 5px;
			width: 100%;
			background: transparent;
			border: none;
			outline: none;

			.pr();
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.05em;
			color: @textcolor;
		}
		.redbtn {
			background: @redbtn;
			box-shadow: 0px 12px 30px #1D65A8;
			border-radius: 2px;
			width: 260px;
			height: 54px;
			text-align: center;
			line-height: 54px;

			.pb();
			font-size: 14px;
			letter-spacing: 0.1em;
			text-transform: uppercase;

			color: #FFFFFF;

		}
	}
	&__left {
		width: 806px;
		height: 340px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: url(%=static=%general/gift-left.png) no-repeat center center / cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h4 {
			.pb();
			font-size: 30px;
			line-height: 38px;
			letter-spacing: 0.03em;
			color: #FFFFFF;
			max-width: 400px;
		}
		p {
			.pb();
			font-size: 24px;
			line-height: 38px;
			letter-spacing: 0.03em;

			color: #F18880;
			margin-top: 20px;
			text-align: left;
			width: 400px;
			svg {
				fill: #F18880;
			}
		}
	}
}

.reviews {
	padding: 20px 0 60px 0;
	background: #F4F7F9;
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-nav {
		display: flex;
		align-items: center;
		.reviews-btn {
			width: 58px;
			height: 60px;
			background: #FFFFFF;
			border: 1px solid #E3E9EF;
			box-shadow: 0px 1px 4px #DAE5F5;
			border-radius: 2px;
			display: flex;
			align-items: center;
			justify-content: center;
			outline: none;
			cursor: pointer;
			svg {
				fill: #AEB7BD;
			}
			&:hover {
				svg {
					fill: @bluebtn;
				}
			}
		}
		.reviews-prev {
			margin-right: 2px;
			svg {
				transform: rotate(180deg);
			}
		}
	}
	&-container {
		margin-top: 20px;
	}
	&-slide {
		padding: 42px 30px;
		background: #FFFFFF;
		border: 1px solid #E3E9EF;
		box-shadow: 0px 1px 4px #DAE5F5;
		border-radius: 2px;
		position: relative;
		display: flex;
		align-items: flex-start;
		.user-photo {
			width: 88px;
			height: 88px;
			object-fit: cover;
			flex-shrink: 0;
		}
		.user__reviews {
			margin-left: 24px;
		}
		.user-link {
			.pb();
			font-size: 22px;
			line-height: 28px;
			letter-spacing: 0.03em;

			color: @bluebtn;
		}
		.reviews__date {
			.pb();
			font-size: 12px;
			line-height: 16px;
			letter-spacing: 0.03em;
			color: #A1AAAF;
			margin: 15px 0;
		}
		.reviews__text {
			.pr();
			font-size: 14px;
			line-height: 22px;
			letter-spacing: 0.02em;
			color: #616467;
		}
		svg {
			position: absolute;
			bottom: 4px;
			right: 4px;
		}
	}
}

.footer {
	position: relative;
	border-bottom: 1px solid #E3E9EF;
	.footer__top {
		display: flex;
		height: 150px;
		align-items: center;
	}
	&__right {
		background: url(%=static=%general/footer-right.png) no-repeat center center / cover;
		position: absolute;
		right: 0;
		top: 0;
		height: inherit;
		width: 663px;
		display: flex;
		align-items: center;
		justify-content: center;
		.req-link {
			display: inline-flex;
			align-items: flex-start;
			color: @light;
			.pb();
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			max-width: 180px;
			text-align: left;
			padding-right: 60px;
			border-right: 1px solid #F0887F;
			svg {
				flex-shrink: 0;
				margin-right: 10px;
			}
		}
		.est-link {
			display: inline-flex;
			align-items: flex-start;
			color: @light;
			.pb();
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			max-width: 180px;
			text-align: left;
			padding-left: 60px;
			svg {
				flex-shrink: 0;
				margin-right: 10px;
			}
		}
	}

	&__bottom {
		padding: 29px 0 50px 0;
		position: relative;
		&-left {
			display: flex;
		}
		&-col {
			display: flex;
			flex-direction: column;
			margin-right: 150px;
			.big-link {
				.pb();
				font-size: 16px;
				line-height: 22px;
				color: @bluebtn;
				margin-bottom: 20px;
				position: relative;
			}
			.big-after {
				&::after {
					content: '';
					position: absolute;
					bottom: -10px;
					left: 0;
					width: 24px;
					height: 2px;
					background: #E3E9EF;
				}
			}
			.big-mt {
				margin-top: 10px;
			}
			.normal-link {
				.pr();
				font-size: 14px;
				line-height: 22px;
				color: #616467;
			}
		}
	}
	.header__home {
		margin-left: 0;
	}
}

.to-up {
	width: 60px;
	height: 60px;
	background: rgba(29, 101, 168, .8);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	transition: .4s;
	cursor: pointer;
	z-index: 45;
	svg {
		fill: transparent;
	}
	&.show {
		opacity: 1;
		transition: .4s;
	}
}

.open-menu {
	display: none;	
	p {
		height: auto;
		opacity: 1;
		transition: .5s;
	}
	&.active {
		transition: .5s;
		span {
			transition: .5s;
		}
		.first-span {
			transform: rotate(-42deg);
			transform-origin: center right;
			transition: .5s;
		}
		.second-span {
			transform: translateY(12px) rotate(41deg);
			transform-origin: right bottom;
			transition: .5s;
		}
		p {
			opacity: 0;
			height: 0;
			transition: .5s;
		}
	}
}

.map {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	max-width: 50%;
	width: 100%;
	overflow: hidden;
	// filter: grayscale(100%); 
	&::before {
		content: '';
		background: #fff;
		position: absolute;
		top: -28px;
		left: 0;
		height: 200%;
		width: 155px;
		transform: rotate(30deg) translate(-128px, 0);
		z-index: 12;
	}
}

.mobile__menu {
	position: fixed;
	top: 90px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 123123;
	background: #fff;
	overflow: hidden;
	overflow-y: auto;
	opacity: 0;
	z-index: -1;
	transition: .5s;
	scrollbar-color: #D0DAE9 #307FC9;
	&::-webkit-scrollbar-track {
		background-color: #D0DAE9;
	}
	&::-webkit-scrollbar-button {
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px !important;
		background-color: #307FC9;
		height: 30px !important;
		width: 3px;
	}
	&::-webkit-scrollbar{
		width: 4px;
		margin-right: 10px;
	}
	&.active {
		height: calc(100vh - 90px);
		opacity: 1;
		z-index: 123123;
		transition: .5s;
	}
	.header__bottom-line {
		display: block;
		padding: 34px 0;
		border-bottom: 1px solid #DAE5F5;
		.nav-list {
			text-align: center;
			&-item {
				&:not(:last-child) .nav-link {
					padding-bottom: 28px;
				}
			}
			.nav-link {
				display: flex;
				justify-content: center;
				align-items: center;
				.pb();
				font-size: 20px;
				line-height: 22px;
				text-align: center;
				letter-spacing: 0.05em;

				color: #307FC9;
				svg {
					width: 9px;
					height: 6px;
					fill: #307FC9;
					flex-shrink: 0;
				}
			}
		}
	}
	&-reg {
		padding: 18px 0;
		text-align: center;
		border-bottom: 1px solid #DAE5F5;
		.reg-link {
			display: inline-block;
			margin-bottom: 10px;
			.pb();
			font-size: 16px;
			line-height: 13px;

			text-align: center;
			

			color: #DD2819;
			span {
				text-decoration-line: underline;
			}
			svg {
				flex-shrink: 0;
				margin-right: 5px;
			}
		}
		p {
			font-size: 14px;
			line-height: 13px;
			text-align: center;

			color: #616467;
			.pr();
		}
	}
	&-info {
		padding: 28px 0;
		text-align: center;
	}
	&-one {
		margin-bottom: 10px;
		p {
			font-size: 16px;
			.pb();
			line-height: 18px;
			text-align: center;

			color: #616467;
		}
		span {
			.pb();
			font-size: 16px;
			line-height: 18px;
			text-align: center;

			color: #DD2819;
		}
		.phones {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			max-width: 55%;
			margin: 0 auto;
			span {
				display: inline-block;
				margin: 0 4px;
				color: #616467;
			}
			.phone {
				font-size: 16px;
				line-height: 18px;
			}
		}
	}
}

.no-scroll {
	overflow-y: hidden;
}
