@media (max-width: 1750px) and (min-width: 1250px) {
	.header__logo img {
		max-width: 170px;
	}	
	.header__logo {
		border-right: 0;
		padding-right: 0;
		width: 170px;
	}
	.logo-span {
		.pb();
		display: inline-block;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.04em;
		color: #616467;
		margin-top: 8px;
	}
	.header__home {
		margin-left: 23px;
		svg {
			width: 32px;
			height: 32px;
		}
	}
	.header__home-place span {
		font-size: 13px;
		line-height: 18px;
	}
	.header__time {
		margin-left: 23px;
		svg {
			width: 32px;
			height: 32px;
		}
	}
	.header__call {
		margin-left: 23px;
		svg {
			width: 32px;
			height: 32px;
		}
	}
	.header__office {
		margin-left: 23px;
	}
	.header__home-place .show-link {
		font-size: 12px;
		line-height: 16px;
	}
	.header__time-info span {
		font-size: 13px;
		line-height: 18px;
	}
	.header__time-info p {
		font-size: 13px;
		line-height: 18px;
	}
	.header__call-info span {
		font-size: 13px;
		line-height: 18px;
	}
	.phone {
		font-size: 13px;
		line-height: 18px;
	}
	.phone b {
		font-size: 15px;
	}
	.header__user-info .register {
		font-size: 13px;
		line-height: 13px;
	}
	.header__user svg {
		width: 32px;
		height: 32px;
	}
	.header__user-info p {
		font-size: 11px;
		line-height: 13px;
	}
	.header__office .callback {
		font-size: 12px;
		line-height: 16px;
	}
	.header__user-info {
		max-width: 115px;
	}
	.header__bottom .nav-link {
		padding: 11px 15px;
		font-size: 13px;
		line-height: 17px;
	}
	.header__bottom .right__nav {
		width: 407px;
		background-position: left center;
	}
	.header__bottom .right__nav .req-link {
		padding-right: 0;
		font-size: 12px;
		line-height: 14px;
		max-width: 132px;
		svg {
			width: 20px;
			height: 23px;
		}
	}
	.header__bottom .right__nav .est-link {
		padding-left: 35px;
		font-size: 12px;
		line-height: 14px;
		svg {
			width: 20px;
			height: 23px;
		}
	}
	.selectCar .select {
		font-size: 12px;
		line-height: 14px;
	}
	.selectCar .marka {
		margin-right: 12px;
	}
	.selectCar .marka .select2-container {
		width: 177px !important;
	}
	.selectCar .marka-label {
		display: none;
	}
	.selectCar .models {
		margin-right: 12px;
	}
	.selectCar .models .select2-container {
		width: 173px !important;
	}
	.selectCar .models-label {
		display: none;
	}
	.selectCar .period {
		margin-right: 12px;
	}
	.selectCar .period .select2-container {
		width: 268px !important;
	}
	.selectCar .period-label {
		display: none;
	}
	.selectCar .price {
		margin-right: 12px;
	}
	.selectCar .price .select2-container {
		width: 228px !important;
	}
	.selectCar .price-label {
		display: none;
	}
	.selectCar .showAll {
		width: 189px;
		height: 30px;
		font-size: 12px;
		line-height: 16px;
	}
	.select2-container--default .select2-selection--single {
		height: 30px !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 29px !important;
		padding-left: 12px !important;
	}
	.select2-results__option {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	.main-img {
		height: 400px;
	}
	.deal__variant-header {
		height: 40px;
		line-height: 40px;
		font-size: 16px;
	}
	.deal__variants {
		margin-top: -39px;
	}
	.main-btn {
		width: 32px;
		height: 32px;
	}
	.main .red-text {
		font-size: 20px;
		line-height: 26px;
	}
	.main .blue-text {
		font-size: 36px;
		line-height: 44px;
		max-width: 700px;
	}
	.main .more {
		font-size: 12px;
		line-height: 32px;
		width: 173px;
		height: 32px;
	}
	.deal__variant-body .buy-form .deal__item {
		max-width: calc(100% / 7);
	}
	.deal__variant-body .buy-form .automark {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}
	.deal__variant-body .buy-form .car-label {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// width: 106px;
		height: 60px;
	}
	.deal__variant-body .buy-form .car-label span {
		margin-left: 0;
		margin-top: 6px;
		font-size: 12px;
	}
	.deal__variant-body .buy-form .car-label svg {
		height: 12px;
	}
	.deal__variant-body {
		padding: 0 20px 20px 20px;
	}
	.deal__variant-body span.variant-text {
		font-size: 12px;
		line-height: 16px;
		margin-top: 10px;
	}
	.deal__selects .dprice-label {
		left: 12px;
	}
	.deal__selects .ddate-label {
		left: 12px;
	}
	.deal__selects .dprobeg-label {
		left: 12px;
	}
	.deal__selects .dprice .select2-container {
		width: 142px !important;
	}

	.deal__selects .ddate .select2-container {
		width: 142px !important;
	}

	.deal__selects .dprobeg .select2-container {
		width: 145px !important;
	}


	.dprice {
		.select2-container--default .select2-selection--single {
			height: 40px !important;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 52px !important;
		}
	}

	.ddate {
		.select2-container--default .select2-selection--single {
			height: 40px !important;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 52px !important;
		}
	}

	.dprobeg {
		.select2-container--default .select2-selection--single {
			height: 40px !important;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 52px !important;
		}
	}

	.select2-results__options {
		padding: 12px;
	}
	.select2-container--open .select2-dropdown {
		min-width: max-content !important;
	}

	.deal__selects .ditems .ditem .d-label {
		flex-direction: column;
		align-items: flex-start;
	}
	.deal__selects .ditems .ditem .d-label::before {
		margin-right: 0;
		margin-bottom: 7px;
	}
	.deal .form-submit {
		margin-top: 30px;
	}
	.deal__selects .dmarka-label {
		display: none;
	}
	.deal__selects .dmodel-label {
		display: none;
	}
	.deal__selects .dperiod-label {
		display: none;
	}
	.deal__selects .dprobeg2-label {
		display: none;
	}
	.deal__selects .dmarka .select2-container {
		width: 270px !important;
	}
	.deal__selects .dmarka {
		.select2-container--default .select2-selection--single {
			height: 40px !important;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 40px !important;
		}
	}

	.deal__selects .dmodel .select2-container {
		width: 270px !important;
	}
	.deal__selects .dmodel {
		.select2-container--default .select2-selection--single {
			height: 40px !important;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 40px !important;
		}
	}

	.deal__selects .dperiod .select2-container {
		width: 270px !important;
	}
	.deal__selects .dperiod {
		.select2-container--default .select2-selection--single {
			height: 40px !important;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 40px !important;
		}
	}

	.deal__selects .dprobeg2 .select2-container {
		width: 270px !important;
	}
	.deal__selects .dprobeg2 {
		.select2-container--default .select2-selection--single {
			height: 40px !important;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 40px !important;
		}
	}

	.deal .alert svg {
		width: 34px;
		height: 34px;
	}

	.deal .alert p {
		font-size: 12px;
		line-height: 16px;
	}

	.deal .redbtn {
		width: 270px;
		line-height: 30px;
		font-size: 12px;
		margin-left: 15px;
	}

	.deal .form-submit.mt60 {
		margin-top: 5px;
	}
	.deal {
		padding-bottom: 20px;
	}

	.special__item {
		width: 225px;
	}
	.special__item:not(:last-child) {
		margin-right: 13px;
	}
	.special__item-img {
		height: 190px;
	}
	.special__item-info {
		padding: 20px;
	}
	.special__item-info h4 {
		font-size: 20px;
		line-height: 26px;
	}
	.special__item-info .description {
		margin-top: 10px;
	}
	.special__item-info .description p {
		font-size: 11px;
		line-height: 13px;
	}
	.special__item-info .car-price .new-price {
		font-size: 20px;
		line-height: 26px;
	}
	.special__item-info .car-price .old-price {
		font-size: 16px;
		line-height: 21px;
	}
	.special__item-info .car-call .callback {
		height: 31px;
		line-height: 31px;
		font-size: 12px;
	}
	.special__item.more__item {
		padding: 50px 14px 20px 14px;
	}
	.special__item.more__item img {
		max-width: 100%;
		margin-top: 30px;
	}
	.special__item.more__item .tomore {
		height: 31px;
		line-height: 31px;
		margin-top: 73px;
		font-size: 12px;
	}
	.special__item.more__item p {
		font-size: 16px;
		line-height: 21px;
	}
	.special__item.more__item span {
		font-size: 50px;
		line-height: 65px;
	}
	.title {
		font-size: 26px;
		line-height: 34px;
	}
	.scheme__item-top {
		svg {
			max-width: 100%;
		}
	}
	.scheme__items {
		padding: 0;
	}
	.scheme__item-bottom {
		font-size: 16px;
		line-height: 110%;
		span {
			font-size: 12px;
			line-height: 100%;
			margin-top: 4px;
		}
	}
	.gift__left {
		width: 36.4%;
		background-position: right center;
		h4 {
			font-size: 22px;
			line-height: 28px;
			max-width: 305px;
		}
		p {
			font-size: 18px;
			line-height: 28px;
			max-width: 305px;
		}
	}
	.gift__right {
		width: calc(100% - 20%);
	}
	.gift__right .redbtn {
		width: 179px;
	}
	.gift__right form {
		width: 100%;
		justify-content: center;
		padding-left: 30px;
	}
	.gift {
		padding: 40px 0;
	}
	.reviews-nav .reviews-btn {
		width: 36px;
		height: 36px;
		svg {
			width: 19px;
		}
	}
	.reviews-slide {
		padding: 29px 20px;
		height: auto;
	}
	.reviews-slide .user-photo {
		width: 61px;
		height: 61px;
	}
	.reviews-slide .reviews__date {
		margin: 5px 0;
	}
	.reviews-slide .reviews__text {
		font-size: 13px;
		line-height: 18px;
	}
	.reviews-slide .user__reviews {
		margin-left: 17px;
	}
	.footer__right {
		width: 33%;
		background-position: left center;
	}
	.footer .footer__top {
		height: 100px;
	}
	.footer__right .req-link {
		padding-right: 0;
		font-size: 12px;
		line-height: 14px;
		max-width: 132px;
		svg {
			width: 20px;
			height: 23px;
		}
	}
	.footer__right .est-link {
		padding-left: 35px;
		font-size: 12px;
		line-height: 14px;
		svg {
			width: 20px;
			height: 23px;
		}
	}
	.footer__bottom-col {
		margin-right: 70px;
	}
}

@media (max-width: 1249px) and (min-width: 992px) {
	.header {
		padding-top: 8px;
		border-bottom: 4px solid #307FC9;
	}
	.header__logo img {
		max-width: 170px;
	}	
	.header__logo {
		border-right: 0;
		padding-right: 0;
		width: 170px;
	}
	.logo-span {
		.pb();
		display: inline-block;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.04em;
		color: #616467;
		margin-top: 8px;
	}
	.header__home {
		display: none;
	}
	.header__time {
		display: none;
	}
	.header__top {
		align-items: flex-end;
		padding-bottom: 11px;
	}
	.header__call {
		margin-left: 23px;
		svg {
			width: 28px;
			height: 28px;
		}
	}
	.header__office {
		margin-left: 23px;
	}
	.header__call-info span {
		font-size: 13px;
		line-height: 18px;
	}
	.phone {
		font-size: 13px;
		line-height: 18px;
	}
	.phone b {
		font-size: 15px;
	}
	.header__user {
		display: none;
	}
	.header__office .callback {
		font-size: 12px;
		line-height: 16px;
	}
	.header__user-info {
		max-width: 115px;
	}
	.header__bottom .nav-link {
		padding: 11px 15px;
		font-size: 13px;
		line-height: 17px;
	}
	.header__bottom .right__nav {
		width: 421px;
		background-position: left center;
		height: 90px;
		padding: 0;
		bottom: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header__bottom .right__nav .req-link {
		padding-right: 0;
		font-size: 12px;
		line-height: 14px;
		max-width: 132px;
		svg {
			width: 20px;
			height: 23px;
		}
	}
	.header__bottom .right__nav .est-link {
		padding-left: 35px;
		font-size: 12px;
		line-height: 14px;
		max-width: 145px;
		svg {
			width: 20px;
			height: 23px;
		}
	}

	.open-menu {
		.pb();
		display: block;	
		max-width: 35px;
		font-size: 10px;
		line-height: 10px;
		letter-spacing: 0.17em;
		text-transform: uppercase;
		color: #FFFFFF;

		span {
			display: inline-block;
			width: 34px;
			height: 3px;
			background: #FFFFFF;
			margin-bottom: 5px;
		}
	}
	.header__bottom-line {
		display: none;
	}
	.header__bottom .right__nav::before {
		width: 4px;
		left: 2px;
	}
	.header__bottom {
		margin-top: 0;
	}
	.selectCar .select {
		font-size: 11px;
		line-height: 14px;
		margin-right: 10px;
		max-width: 80px;
	}
	.selectCar .marka {
		margin-right: 12px;
	}
	.selectCar .marka .select2-container {
		width: 138px !important;
	}
	.selectCar .marka-label {
		display: none;
	}
	.selectCar .models {
		margin-right: 12px;
	}
	.selectCar .models .select2-container {
		width: 138px !important;
	}
	.selectCar .models-label {
		display: none;
	}
	.selectCar .period {
		margin-right: 12px;
	}
	.selectCar .period .select2-container {
		width: 217px !important;
	}
	.selectCar .period-label {
		display: none;
	}
	.selectCar .price {
		margin-right: 12px;
	}
	.selectCar .price .select2-container {
		width: 138px !important;
	}
	.selectCar .price-label {
		display: none;
	}
	.selectCar .showAll {
		width: auto;
		height: 30px;
		font-size: 11px;
		line-height: 14px;
		margin-left: auto;
	}
	.select2-container--default .select2-selection--single {
		height: 30px !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 29px !important;
		padding-left: 12px !important;
	}
	.select2-results__option {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	.main {
		margin-top: -20px;
	}
	.main-img {
		height: 400px;
	}
	.deal__variant-header {
		height: 40px;
		line-height: 40px;
		font-size: 16px;
	}
	.deal__variants {
		margin-top: -39px;
		border: none;
	}
	.main-btn {
		width: 32px;
		height: 32px;
	}
	.main .red-text {
		font-size: 18px;
		line-height: 23px;
	}
	.main .blue-text {
		font-size: 32px;
		line-height: 40px;
		max-width: 700px;
	}
	.main .more {
		font-size: 12px;
		line-height: 32px;
		width: 173px;
		height: 32px;
	}

	.deal__variant-buy {
		background: @bluebtn;
		border-radius: 2px 2px 0px 0px;
	}
	.deal__variant-sell {
		background: @redbtn;
		border-radius: 2px 2px 0px 0px;
	}
	.deal__variant-header {
		color: rgba(255,255,255, .5);
		border-right: 1px solid transparent;
		border-bottom: none;
		
	}
	.deal__variant {
		&.active {
			.deal__variant-header {
				color: #fff;
			}
		}
	}
	.deal__variant-body {
		display: none;
		padding: 0 20px 20px 20px;
		&.active {
			display: block;
		}
	}
	.transform-body {
		transform: translateX(-50%);
	}

	.deal__variant-body .buy-form .deal__item {
		max-width: calc(100% / 7);
	}
	.deal__variant-body .buy-form .automark {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}
	.deal__variant-body .buy-form .car-label {
		// width: 172px;
		height: 60px;
	}
	.deal__variant-body .buy-form .deal__item:not(:nth-child(5n)) {
		margin-right: 7px;
	}
	.deal__variant-body span.variant-text {
		margin-top: 10px;
	}
	.deal__selects .dmarka-label {
		display: none;
	}
	.deal__selects .dmodel-label {
		display: none;
	}
	.deal__selects .dperiod-label {
		display: none;
	}
	.deal__selects .dprobeg2-label {
		display: none;
	}
	.deal__selects .dprice-label {
		display: none;
	}
	.deal__selects .ddate-label {
		display: none;
	}
	.deal__selects .dprobeg-label {
		display: none;
	}
	.select2-results__options {
		padding: 10px;
	}
	.deal__variant-body .buy-form .deal__items {
		margin-top: 10px;
	}
	.deal__selects {
		margin-top: 10px;
	}
	.deal__selects .dprice .select2-container {
		width: 231px !important;
	}
	.deal__selects .ddate .select2-container {
		width: 231px !important;
	}
	.deal__selects .dprobeg .select2-container {
		width: 231px !important;
	}
	.deal .form-submit {
		margin-top: 20px;
	}
	.deal .form-btn {
		width: 441px;
		height: 40px;
		line-height: 40px;
		font-size: 12px;
	}
	.deal__selects .dmarka {
		width: 49%;
		margin-right: 2%;
	}
	.deal__selects .dmarka .select2-container {
		width: 100% !important;
	}
	.deal__selects .dmodel {
		width: 49%;
	}
	.deal__selects .dmodel .select2-container {
		width: 100% !important;
	}
	.deal__selects .dperiod {
		width: 49%;
		margin-right: 2%;
	}
	.deal__selects .dperiod .select2-container {
		width: 100% !important;
	}
	.deal__selects .dprobeg2 {
		width: 49%;
	}
	.deal__selects .dprobeg2 .select2-container {
		width: 100% !important;
	}
	.deal .form-submit.mt60 {
		margin-top: 20px;
	}
	.deal .alert {
		margin-top: 20px;
	}
	.deal .redbtn {
		width: 441px;
		height: 40px;
		line-height: 40px;
		font-size: 12px;
	}
	.title {
		font-size: 26px;
		line-height: 34px;
	}
	.deal {
		padding-bottom: 20px;
	}
	.special__items {
		flex-wrap: wrap;
		&-four {
			margin-right: 0;
		}
	}
	.special__item {
		width: 225px;
	}
	.special__item:not(:last-child) {
		margin-right: 9px;
	}
	.special__item:nth-child(4) {
		margin-right: 0;
		display: none;
	}
	.special__item-img {
		height: 190px;
	}
	.special__item-info {
		padding: 20px;
	}
	.special__item-info h4 {
		font-size: 20px;
		line-height: 26px;
	}
	.special__item-info .description {
		margin-top: 10px;
	}
	.special__item-info .description p {
		font-size: 11px;
		line-height: 13px;
	}
	.special__item-info .car-price .new-price {
		font-size: 20px;
		line-height: 26px;
	}
	.special__item-info .car-price .old-price {
		font-size: 16px;
		line-height: 21px;
	}
	.special__item-info .car-call .callback {
		height: 31px;
		line-height: 31px;
		font-size: 12px;
	}

	
	.special__item.more__item {
		margin-top: 0;
		padding: 20px;
	}
	.special__item.more__item img {
		max-width: 100%;
	}
	.special__item.more__item .tomore {
		width: 100%;
		height: 31px;
		line-height: 31px;
		margin-top: 56px;
		font-size: 12px;
		margin-left: 0;
	}
	// .special__item.more__item p {
	// 	font-size: 16px;
	// 	line-height: 21px;
	// }
	// .special__item.more__item span {
	// 	font-size: 50px;
	// 	line-height: 65px;
	// 	margin: 0 5px;
	// }
	.scheme__item-top {
		svg {
			max-width: 100%;
			max-height: 120px;
		}
	}
	.scheme__items {
		padding: 0;
	}
	.scheme__item-bottom {
		font-size: 14px;
		line-height: 110%;
		padding: 0 5px;
		span {
			font-size: 10px;
			line-height: 100%;
			margin-top: 4px;
		}
	}
	.gift__left {
		width: 39%;
		background-position: right center;
		align-items: flex-start;
		padding-left: 40px;
		h4 {
			font-size: 18px;
			line-height: 22px;
			max-width: 234px;
		}
		p {
			font-size: 14px;
			line-height: 22px;
			max-width: 234px;
		}
	}
	.gift__right {
		width: calc(100% - 20%);
	}
	.gift__right .redbtn {
		width: 138px;
		font-size: 12px;
		line-height: 120.1%;
	}
	.gift__right .form-item {
		width: 216px;
		height: 44px;
		padding: 6px 9px;
	}
	.gift__right form {
		width: 90%;
		justify-content: center;
		padding-left: 100px;
		position: relative;
		z-index: 22;
	}
	.gift {
		padding: 40px 0;
	}
	.gift__right .form-label {
		font-size: 10px;
		line-height: 13px;
	}
	.gift__right .form-input {
		margin-top: 0;
	}
	.reviews-nav .reviews-btn {
		width: 36px;
		height: 36px;
		svg {
			width: 19px;
		}
	}
	.reviews-slide {
		padding: 29px 20px;
		height: auto;
	}
	.reviews-slide .user-photo {
		width: 61px;
		height: 61px;
	}
	.reviews-slide .reviews__date {
		margin: 5px 0;
	}
	.reviews-slide .reviews__text {
		font-size: 13px;
		line-height: 18px;
	}
	.reviews-slide .user__reviews {
		margin-left: 17px;
	}
	.footer__right {
		width: 30%;
		height: 100%;
		background-position: left center;
		justify-content: flex-end;
		padding-right: 20px;
	}
	.footer .footer__top {
		padding: 25px 0;
		height: auto;
		align-items: flex-start;
		.header__home {
			display: flex;
			svg {
				width: 24px;
				height: 24px;
			}
			.show-link {
				display: none;
			}
			&-place {
				max-width: 97px;
				span {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
		.header__time {
			display: flex;
			margin-left: 30px;
			svg {
				width: 24px;
				height: 24px;
			}
			&-info {
				span {
					font-size: 12px;
					line-height: 16px;
				}
				p {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
		.header__call {
			svg {
				width: 24px;
				height: 24px;
			}
			&-info {
				span {
					font-size: 12px;
					line-height: 16px;
				}
				.phone {
					font-size: 12px;
					line-height: 18px;
					b {
						font-size: 12px;
						line-height: 18px;
					}
				}
			}
		}
		.header__office {
			.phone {
				font-size: 12px;
				line-height: 18px;
				b {
					font-size: 12px;
					line-height: 18px;
				}
			}
		}
	}
	.footer__right .req-link {
		padding-right: 13px;
		font-size: 12px;
		line-height: 14px;
		max-width: 103px;
		svg {
			width: 13px;
			height: 18px;
			flex-shrink: 0;
		}
	}
	.footer__right .est-link {
		padding-left: 13px;
		font-size: 12px;
		line-height: 14px;
		max-width: 126px;
		svg {
			width: 13px;
			height: 18px;
			flex-shrink: 0;
		}
	}
	.footer__bottom-left {
		display: none;
	}
	.footer__bottom {
		padding: 0;
		height: 228px;
	}
	.map {
		min-width: 100%;
	}
	.map::before {
		display: none;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.header {
		padding-top: 8px;
		border-bottom: 4px solid #307FC9;
	}
	.header__logo img {
		max-width: 157px;
	}	
	.header__logo {
		border-right: 0;
		padding-right: 0;
		width: 170px;
	}
	.logo-span {
		.pb();
		display: inline-block;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.04em;
		color: #616467;
		margin-top: 0;
	}
	.header__home {
		display: none;
	}
	.header__time {
		display: none;
	}
	.header__top {
		align-items: flex-end;
		padding-bottom: 2px;
	}
	.header__call {
		display: none;
	}
	.header__office {
		display: none;
	}
	.header__call-info span {
		font-size: 13px;
		line-height: 18px;
	}
	.phone {
		font-size: 13px;
		line-height: 18px;
	}
	.phone b {
		font-size: 15px;
	}
	.header__user {
		display: none;
	}
	.header__office .callback {
		font-size: 12px;
		line-height: 16px;
	}
	.header__user-info {
		max-width: 115px;
	}
	.header__bottom .nav-link {
		padding: 11px 15px;
		font-size: 13px;
		line-height: 17px;
	}
	.header__bottom .right__nav {
		width: 62%;
		background-position: left center;
		height: 70px;
		padding: 0;
		bottom: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header__bottom .right__nav .req-link {
		padding-right: 20px;
		font-size: 12px;
		line-height: 14px;
		max-width: 100%;
		align-items: center;
		svg {
			width: 20px;
			height: 23px;
		}
	}
	.header__bottom .right__nav .est-link {
		padding-left: 20px;
		font-size: 12px;
		line-height: 14px;
		max-width: 100%;
		align-items: center;
		svg {
			width: 20px;
			height: 23px;
		}
	}

	.open-menu {
		.pb();
		display: block;	
		max-width: 35px;
		font-size: 10px;
		line-height: 10px;
		letter-spacing: 0.17em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-left: 30px;

		span {
			display: inline-block;
			width: 34px;
			height: 3px;
			background: #FFFFFF;
			margin-bottom: 5px;
		}
	}
	.header__bottom-line {
		display: none;
	}
	.header__bottom .right__nav::before {
		width: 8px;
		left: -8px;
	}
	.header__bottom {
		margin-top: 0;
	}
	.selectCar__row {
		flex-direction: column;
		align-items: flex-start;
	}
	.selectCar__row form {
		margin-top: 5px;
	}
	.selectCar .marka {
		margin-right: 12px;
	}
	.selectCar .marka .select2-container {
		width: 138px !important;
	}
	.selectCar .marka-label {
		display: none;
	}
	.selectCar .models {
		margin-right: 12px;
	}
	.selectCar .models .select2-container {
		width: 142px !important;
	}
	.selectCar .models-label {
		display: none;
	}
	.selectCar .period {
		margin-right: 12px;
	}
	.selectCar .period .select2-container {
		width: 171px !important;
	}
	.selectCar .period-label {
		display: none;
	}
	.selectCar .price {
		margin-right: 12px;
	}
	.selectCar .price .select2-container {
		width: 138px !important;
	}
	.selectCar .price-label {
		display: none;
	}
	.selectCar .showAll {
		width: auto;
		height: 30px;
		font-size: 10px;
		line-height: 110%;
		margin-left: auto;
	}
	.select2-container--default .select2-selection--single {
		height: 30px !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 29px !important;
		padding-left: 12px !important;
	}
	.select2-results__option {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	.selectCar {
		display: none;
	}
	.main {
		margin-top: 0;
	}
	.main-img {
		height: 300px;
		padding: 0 30px;
	}
	.deal__variant-header {
		height: 40px;
		line-height: 40px;
		font-size: 16px;
	}
	.deal__variants {
		margin-top: -39px;
		border: none;
		flex-direction: column;
	}
	.deal__variant {
		width: 100%;
	}
	.deal__variant-body .buy-form .car-all span {
		margin-left: 2px;
	}
	.deal__variant-body .buy-form .deal__item {
		max-width: calc(100% / 7);
	}
	.deal__variant-body .buy-form .automark {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}
	.main-btn {
		width: 32px;
		height: 32px;
	}
	.main .red-text {
		font-size: 14px;
		line-height: 18px;
	}
	.main .blue-text {
		font-size: 24px;
		line-height: 30px;
		max-width: 400px;
	}
	.main .more {
		font-size: 12px;
		line-height: 30px;
		width: 162px;
		height: 30px;
		margin-top: 10px;
	}
	.main-pagination {
		bottom: 55px !important;
	}
	.deal__variant-buy {
		background: @bluebtn;
		border-radius: 2px 2px 0px 0px;
	}
	.deal__variant-sell {
		background: @redbtn;
		border-radius: 2px 2px 0px 0px;
	}
	.deal__variant-header {
		color: rgba(255,255,255, .5);
		border-right: 1px solid transparent;
		border-bottom: none;
		
	}
	.deal__variant {
		&.active {
			.deal__variant-header {
				color: #fff;
			}
		}
	}
	.deal__variant-body {
		padding: 0 20px 20px 20px;
	}
	.transform-body {
		transform: translateX(-50%);
	}
	.deal__variant-body .buy-form .car-label {
		// width: 130px;
		height: 60px;
	}
	.deal__variant-body .buy-form .deal__item:not(:nth-child(5n)) {
		// margin-right: 7px;
	}
	.deal__variant-body span.variant-text {
		margin-top: 10px;
	}
	.deal__selects .dmarka-label {
		display: none;
	}
	.deal__selects .dmodel-label {
		display: none;
	}
	.deal__selects .dperiod-label {
		display: none;
	}
	.deal__selects .dprobeg2-label {
		display: none;
	}
	.deal__selects .dprice-label {
		display: none;
	}
	.deal__selects .ddate-label {
		display: none;
	}
	.deal__selects .dprobeg-label {
		display: none;
	}
	.select2-results__options {
		padding: 10px;
	}
	.deal__variant-body .buy-form .deal__items {
		margin-top: 10px;
	}
	.deal__selects {
		margin-top: 10px;
	}
	.deal__selects .dprice .select2-container {
		width: 155px !important;
	}
	.deal__selects .ddate .select2-container {
		width: 155px !important;
	}
	.deal__selects .dprobeg .select2-container {
		width: 155px !important;
	}
	.deal .form-submit {
		margin-top: 20px;
	}
	.deal .form-btn {
		width: 341px;
		height: 40px;
		line-height: 40px;
		font-size: 12px;
	}
	.deal__selects .dmarka {
		width: 49%;
		margin-right: 2%;
	}
	.deal__selects .dmarka .select2-container {
		width: 100% !important;
	}
	.deal__selects .dmodel {
		width: 49%;
	}
	.deal__selects .dmodel .select2-container {
		width: 100% !important;
	}
	.deal__selects .dperiod {
		width: 49%;
		margin-right: 2%;
	}
	.deal__selects .dperiod .select2-container {
		width: 100% !important;
	}
	.deal__selects .dprobeg2 {
		width: 49%;
	}
	.deal__selects .dprobeg2 .select2-container {
		width: 100% !important;
	}
	.deal .form-submit.mt60 {
		margin-top: 20px;
	}
	.deal .alert {
		margin-top: 20px;
	}
	.deal .redbtn {
		width: 341px;
		height: 40px;
		line-height: 40px;
		font-size: 12px;
	}
	.title {
		font-size: 26px;
		line-height: 34px;
	}
	.deal {
		padding-bottom: 20px;
	}
	.special__items {
		flex-wrap: wrap;
	}
	.special__items-four {
		width: 100%;
		margin-right: 0;
		flex-direction: column;
	}
	.special__item.more__item {
		width: 100%;
	}
	.special__item {
		width: 100%;
		display: flex;
		align-items: flex-start;
		height: auto;
		margin-bottom: 20px;
	}
	.special__item:not(:last-child) {
		margin-right: 6px;
	}
	.special__item:nth-child(4) {
		margin-right: 0;
	}
	.special__item-img {
		height: 175px;
		width: 210px;
		flex-shrink: 0;
	}
	.special__item-info {
		padding: 16px;
		width: 100%;
		height: auto;
	}
	.special__item-info h4 {
		font-size: 18px;
		line-height: 23px;
	}
	.special__item-info .description {
		margin-top: 10px;
	}
	.special__item-info .car-price {
		margin-top: 10px;
	}
	.special__item-info .description p {
		font-size: 11px;
		line-height: 13px;
	}
	.special__item-info .car-price .new-price {
		font-size: 16px;
		line-height: 21px;
		margin-right: 10px;
	}
	.special__item-info .car-price .old-price {
		font-size: 13px;
		line-height: 17px;
	}
	.special__item-info .car-call .callback {
		height: 24px;
		line-height: 24px;
		font-size: 12px;
	}
	.special__item.more__item {
		margin-top: 20px;
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.special__item.more__item img {
		display: none;
	}
	.special__item.more__item .tomore {
		width: 183px;
		height: 31px;
		line-height: 31px;
		margin-top: 0;
		font-size: 12px;
		margin-left: 120px;
	}
	.special__item.more__item p {
		font-size: 16px;
		line-height: 21px;
	}
	.special__item.more__item span {
		font-size: 50px;
		line-height: 65px;
		margin: 0 5px;
	}
	.scheme__item-top {
		svg {
			max-width: 100%;
			max-height: 120px;
		}
	}
	.scheme__items {
		padding: 0;
	}
	.scheme__item-bottom {
		font-size: 12px;
		line-height: 100%;
		padding: 0 5px;
		span {
			font-size: 10px;
			line-height: 100%;
			margin-top: 4px;
		}
	}
	.gift__left {
		width: 500px;
		height: 100px;
		top: 35px;
		transform: none;
		background-position: center right;
		padding-left: 20px;
		align-items: flex-start;
	}
	.gift__left h4 {
		font-size: 20px;
		line-height: 18px;
		max-width: 100%;
	}
	.gift__left p {
		font-size: 18px;
		line-height: 18px;
		max-width: 100%;
		svg {
			display: none;
		}
	}
	.gift__right {
		width: 100%;
		height: 223px;
	}
	.gift__right .form-item {
		width: 250px;
		
		height: 44px;
		padding: 6px 9px;
	}
	.gift__right .form-input {
		margin-top: 0;
	}
	.gift__right .redbtn {
		width: 169px;
		font-size: 12px;
		height: 44px;
		line-height: 44px;
	}
	.gift__right form {
		margin-top: 60px;
	}
	.gift {
		padding: 60px 0 0 0;
	}
	.reviews-nav .reviews-btn {
		width: 36px;
		height: 36px;
		svg {
			width: 19px;
		}
	}
	.reviews-slide {
		padding: 29px 20px;
		height: auto;
	}
	.reviews-slide .user-photo {
		width: 61px;
		height: 61px;
	}
	.reviews-slide .reviews__date {
		margin: 5px 0;
	}
	.reviews-slide .reviews__text {
		font-size: 13px;
		line-height: 18px;
	}
	.reviews-slide .user__reviews {
		margin-left: 17px;
	}



	.footer__bottom {
		padding: 0;
		height: 228px;
	}
	.map {
		max-width: 100%;
	}
	.map::before {
		display: none;
	}
	.footer__right {
		width: 100%;
		height: 100%;
		background: #DD2819;
		padding-right: 20px;
	}
	.footer .footer__top {
		padding: 25px 0;
		height: auto;
		align-items: flex-start;
		.header__home {
			display: none;
		}
		.header__time {
			display: none;
		}
		.header__call {
			display: none;
		}
		.header__office {
			display: none;
		}
	}
	.footer__right .req-link {
		padding-right: 13px;
		font-size: 16px;
		line-height: 16px;
		max-width: 100%;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		svg {
			width: 18px;
			height: 20px;
			flex-shrink: 0;
		}
	}
	.footer__right .est-link {
		padding-left: 13px;
		font-size: 16px;
		line-height: 16px;
		max-width: 100%;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		svg {
			width: 18px;
			height: 20px;
			flex-shrink: 0;
		}
	}
	.footer__bottom-left {
		display: none;
	}
	.mobile__menu {
		top: 70px;
	}
	.mobile__menu.active {
		height: calc(100vh - 70px);
	}
	.to-up {
		width: 40px;
		height: 40px;
	}
	.to-up svg {
		width: 24px;
	}
}

@media (max-width: 767px) and (min-width: 480px) {
	.header {
		padding-top: 8px;
		border-bottom: 4px solid #307FC9;
	}
	.header__logo img {
		max-width: 144px;
	}	
	.header__logo {
		border-right: 0;
		padding-right: 0;
		width: 149px;
	}
	.logo-span {
		.pb();
		display: inline-block;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.04em;
		color: #616467;
		margin-top: 0;
	}
	.header__home {
		display: none;
	}
	.header__time {
		display: none;
	}
	.header__top {
		align-items: flex-end;
		padding-bottom: 2px;
	}
	.header__call {
		display: none;
	}
	.header__office {
		display: none;
	}
	.header__call-info span {
		font-size: 13px;
		line-height: 18px;
	}
	.phone {
		font-size: 13px;
		line-height: 18px;
	}
	.phone b {
		font-size: 15px;
	}
	.header__user {
		display: none;
	}
	.header__office .callback {
		font-size: 12px;
		line-height: 16px;
	}
	.header__user-info {
		max-width: 115px;
	}
	.header__bottom .nav-link {
		padding: 11px 15px;
		font-size: 13px;
		line-height: 17px;
	}
	.header__bottom .right__nav {
		width: 61%;
		background-position: left center;
		height: 70px;
		padding: 0;
		bottom: 0px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 15px;
	}
	
	.header__bottom .right__nav .req-link {
		padding-right: 5px;
		font-size: 12px;
		line-height: 12px;
		max-width: 100px;
		align-items: center;
		svg {
			width: 17px;
			height: 23px;
		}
	}
	.header__bottom .right__nav .est-link {
		padding-left: 5px;
		font-size: 12px;
		line-height: 12px;
		max-width: 100px;
		align-items: center;
		svg {
			width: 17px;
			height: 23px;
		}
	}

	.open-menu {
		.pb();
		display: block;	
		max-width: 35px;
		font-size: 10px;
		line-height: 10px;
		letter-spacing: 0.17em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-left: 10px;

		span {
			display: inline-block;
			width: 34px;
			height: 3px;
			background: #FFFFFF;
			margin-bottom: 5px;
		}
	}
	.header__bottom-line {
		display: none;
	}
	.header__bottom .right__nav::before {
		width: 8px;
		left: -8px;
	}
	.header__bottom {
		margin-top: 0;
	}
	.selectCar {
		display: none;
	}
	.selectCar__row {
		flex-direction: column;
		align-items: flex-start;
	}
	.selectCar .select {
		font-size: 12px;
		line-height: 14px;
		margin-right: 10px;
		max-width: 100%;
	}
	.selectCar__row form {
		margin-top: 10px;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.selectCar .marka {
		margin-right: 8px;
		margin-bottom: 8px;
		width: 49%;
	}
	.selectCar .marka .select2-container {
		width: 100% !important;
	}
	.selectCar .marka-label {
		display: none;
	}
	.selectCar .models {
		margin-right: 0;
		width: 49%;
		margin-bottom: 8px;
	}
	.selectCar .models .select2-container {
		width: 100% !important;
	}
	.selectCar .models-label {
		display: none;
	}
	.selectCar .period {
		margin-right: 6px;
	}
	.selectCar .period .select2-container {
		width: 180px !important;
	}
	.selectCar .period-label {
		display: none;
	}
	.selectCar .price {
		margin-right: 6px;
	}
	.selectCar .price .select2-container {
		width: 142px !important;
	}
	.selectCar .price-label {
		display: none;
	}
	.selectCar .showAll {
		width: 106px;
		height: 30px;
		font-size: 11px;
		line-height: 14px;
		margin-left: auto;
	}
	.select2-container--default .select2-selection--single {
		height: 30px !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 29px !important;
		padding-left: 12px !important;
	}
	.select2-results__option {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	.main {
		margin-top: 0;
	}
	.main-img {
		height: 223px;
		padding: 0 30px;
		.container {
			margin-top: -50px;
		}
	}
	.deal__variant-header {
		height: 35px;
		line-height: 35px;
		font-size: 14px;
		width: 100%;
		border-radius: 4px 4px 0px 0px;
	}
	.deal__variants {
		margin-top: 0;
		border: none;
		background: transparent;
		flex-direction: column;
	}
	.deal__variant-body {
		padding: 0 0 20px 0;
		background: #fff;
	}
	.main-btn {
		width: 32px;
		height: 32px;
	}
	.main .red-text {
		font-size: 12px;
		line-height: 16px;
	}
	.main .blue-text {
		font-size: 15px;
		line-height: 22px;
		max-width: 250px;
		margin: 0;
	}
	.main .more {
		font-size: 10px;
		line-height: 24px;
		width: 129px;
		height: 24px;
		margin-top: 10px;
	}
	.main-pagination {
		bottom: 55px !important;
	}
	.main .swiper-pagination-bullet {
		width: 24px;
		height: 3px;
	}
	.deal__variant-buy {
		background: @bluebtn;
		margin-left: auto;
		margin-right: 0;
	}
	.deal__variant-sell {
		background: @redbtn;
		margin-right: auto;
		margin-left: 0;
	}
	.deal__variant-header {
		color: rgba(255,255,255, .5);
		border-right: 1px solid transparent;
		border-bottom: none;
	}
	.deal__variant {
		width: 100%;
	}
	
	.deal__variant-body .buy-form .deal__item {
		max-width: calc(100% / 4);
	}
	.deal__variant-body .buy-form .automark {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	.deal__variant-body .buy-form .car-label {
		width: 100%;
		height: 60px;
		padding: 0 4px;
	}
	.deal__variant-body .buy-form .deal__item:not(:nth-child(3n)) {
		// margin-right: 6px;
	}
	.deal__variant-body span.variant-text {
		margin-top: 10px;
	}
	.deal__selects .dmarka-label {
		display: none;
	}
	.deal__selects .dmodel-label {
		display: none;
	}
	.deal__selects .dperiod-label {
		display: none;
	}
	.deal__selects .dprobeg2-label {
		display: none;
	}
	.deal__selects .dprice-label {
		display: none;
	}
	.deal__selects .ddate-label {
		display: none;
	}
	.deal__selects .dprobeg-label {
		display: none;
	}
	.select2-results__options {
		padding: 10px;
	}
	.deal__variant-body .buy-form .deal__items {
		margin-top: 10px;
	}
	.deal__selects {
		margin-top: 10px;
	}
	.deal__selects .dprice .select2-container {
		width: 130px !important;
	}
	.deal__selects .ddate .select2-container {
		width: 130px !important;
	}
	.deal__selects .dprobeg .select2-container {
		width: 130px !important;
	}
	.deal .form-submit {
		margin-top: 20px;
	}
	.deal .form-btn {
		width: 217px;
		height: 35px;
		line-height: 31px;
		font-size: 12px;
		svg {
			width: 25px;
			height: 25px;
		}
	}
	.deal__selects .dmarka {
		width: 49%;
		margin-right: 2%;
	}
	.deal__selects .dmarka .select2-container {
		width: 100% !important;
	}
	.deal__selects .dmodel {
		width: 49%;
	}
	.deal__selects .dmodel .select2-container {
		width: 100% !important;
	}
	.deal__selects .dperiod {
		width: 49%;
		margin-right: 2%;
	}
	.deal__selects .dperiod .select2-container {
		width: 100% !important;
	}
	.deal__selects .dprobeg2 {
		width: 49%;
	}
	.deal__selects .dprobeg2 .select2-container {
		width: 100% !important;
	}
	.deal .form-submit.mt60 {
		margin-top: 20px;
	}
	.deal .alert {
		margin-top: 20px;
	}
	.deal .redbtn {
		width: 217px;
		height: 35px;
		line-height: 31px;
		font-size: 12px;
		margin-left: auto;
	}
	.title {
		font-size: 26px;
		line-height: 34px;
	}
	.deal {
		padding-bottom: 20px;
	}
	.buy-form {
		padding: 0 20px 20px 20px;
	}
	.sell-form {
		padding: 0 20px 20px 20px;
	}
	.deal .alert p {
		font-size: 11px;
		line-height: 12px;
	}
	.deal .alert svg {
		width: 34px;
		height: 34px;
	}
	.deal .podrobnee {
		font-size: 12px;
		line-height: 16px;
	}
	.deal__selects .ditems {
		margin-top: 10px;
	}
	.deal__selects .ditems .ditem {
		margin-left: 0;
		margin-right: 10px;
	}
	.special__items {
		flex-wrap: wrap;
	}
	.special__items-four {
		width: 100%;
		margin-right: 0;
		flex-direction: column;
	}
	.special__item {
		width: 100%;
		display: flex;
		align-items: flex-start;
		height: auto;
		margin-bottom: 20px;
	}
	.special__items {
		flex-wrap: wrap;
	}
	.special__item.more__item {
		width: 100% !important;
	}
	.special__item:not(:last-child) {
		margin-right: 0;
	}
	.special__item:nth-child(4) {
		margin-right: 0;
	}
	.special__item-img {
		height: 175px;
		width: 210px;
		flex-shrink: 0;
	}
	.special__item-info {
		padding: 16px;
		width: 100%;
		height: auto;
	}
	.special__item-info {
		padding: 16px;
	}
	.special__item-info h4 {
		font-size: 18px;
		line-height: 23px;
	}
	.special__item-info .description {
		margin-top: 10px;
	}
	.special__item-info .description p {
		font-size: 11px;
		line-height: 13px;
	}
	.special__item-info .car-price .new-price {
		font-size: 16px;
		line-height: 21px;
		margin-right: 10px;
	}
	.special__item-info .car-price .old-price {
		font-size: 13px;
		line-height: 17px;
	}
	.special__item-info .car-call .callback {
		height: 24px;
		line-height: 24px;
		font-size: 12px;
	}
	.special__item.more__item {
		margin-top: 20px;
		padding: 0 10px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.special__item.more__item img {
		display: none;
	}
	.special__item.more__item .tomore {
		width: 142px;
		height: 31px;
		line-height: 31px;
		margin-top: 0;
		font-size: 12px;
		margin-left: auto;
	}
	.special__item.more__item p {
		font-size: 12px;
		line-height: 16px;
	}
	.special__item.more__item span {
		font-size: 36px;
		line-height: 47px;
		margin: 0 5px;
	}
	.scheme__item-top {
		svg {
			max-width: 100%;
			max-height: 55px;
		}
	}
	.scheme__items {
		padding: 0;
		flex-wrap: wrap;
		align-items: inherit;
	}
	.scheme__item-bottom {
		font-size: 12px;
		line-height: 100%;
		padding: 0 5px;
		border: none;
		height: auto;
		span {
			font-size: 10px;
			line-height: 100%;
			margin-top: 4px;
		}
	}
	.scheme__item {
		width: calc(100% / 3);
		border-right: 1px solid #E3E9EF;
		border-bottom: 1px solid #E3E9EF;
		padding-bottom: 15px;
	}
	.scheme__item-top .next-arr {
		display: none;
	}
	.gift__left {
		width: 350px;
		height: 100px;
		top: 35px;
		transform: none;
		background-position: center right;
		padding-left: 20px;
		align-items: flex-start;
	}
	.gift__left h4 {
		font-size: 20px;
		line-height: 18px;
		max-width: 80%;
	}
	.gift__left p {
		font-size: 18px;
		line-height: 18px;
		max-width: 100%;
		margin-top: 5px;
		svg {
			display: none;
		}
	}
	.gift__right {
		width: 100%;
		height: 223px;
		padding: 0 20px;
	}
	.gift__right .form-item {
		width: 217px;
		
		height: 44px;
		padding: 6px 9px;
		margin-right: 6px;
		&:nth-child(2) {
			margin-right: 0;
		}
	}
	.gift__right .form-input {
		margin-top: 0;
	}
	.gift__right .redbtn {
		width: 100%;
		font-size: 12px;
		height: 44px;
		line-height: 44px;
		margin-top: 20px;
	}
	.gift__right form {
		margin-top: 60px;
		flex-wrap: wrap;
	}
	.gift {
		padding: 60px 0 0 0;
	}
	.reviews {
		padding: 20px 0 20px 0;
	}
	.reviews-nav .reviews-btn {
		width: 36px;
		height: 36px;
		svg {
			width: 19px;
		}
	}
	.reviews-slide {
		padding: 29px 20px;
		height: auto;
	}
	.reviews-slide .user-photo {
		width: 61px;
		height: 61px;
	}
	.reviews-slide .reviews__date {
		margin: 5px 0;
	}
	.reviews-slide .reviews__text {
		font-size: 13px;
		line-height: 18px;
	}
	.reviews-slide .user__reviews {
		margin-left: 17px;
	}

	.footer__bottom {
		padding: 0;
		height: 228px;
	}
	.map {
		max-width: 100%;
	}
	.map::before {
		display: none;
	}
	.footer__right {
		width: 100%;
		height: 100%;
		background: #DD2819;
		padding-right: 20px;
	}
	.footer .footer__top {
		padding: 25px 0;
		height: auto;
		align-items: flex-start;
		.header__home {
			display: none;
		}
		.header__time {
			display: none;
		}
		.header__call {
			display: none;
		}
		.header__office {
			display: none;
		}
	}
	.footer__right .req-link {
		padding-right: 13px;
		font-size: 16px;
		line-height: 16px;
		max-width: 100%;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		svg {
			width: 18px;
			height: 20px;
			flex-shrink: 0;
		}
	}
	.footer__right .est-link {
		padding-left: 13px;
		font-size: 16px;
		line-height: 16px;
		max-width: 100%;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		svg {
			width: 18px;
			height: 20px;
			flex-shrink: 0;
		}
	}
	.footer__bottom-left {
		display: none;
	}
	.mobile__menu {
		top: 70px;
	}
	.mobile__menu.active {
		height: calc(100vh - 70px);
	}
	.to-up {
		width: 40px;
		height: 40px;
	}
	.to-up svg {
		width: 24px;
	}
	.special__items-four {
		margin-right: 0;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 33px;
			background: linear-gradient(90deg, #FFFFFF -29.82%, rgba(255, 255, 255, 0) 72.81%);
			opacity: 0.8;
			z-index: 12;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 33px;
			background: linear-gradient(90deg, #FFFFFF -29.82%, rgba(255, 255, 255, 0) 63.16%);
			transform: matrix(-1, 0, 0, 1, 0, 0);
			opacity: 0.8;
			z-index: 12;
		}
	}
	.special__item-img img {
		width: 100%;
	}
}

@media (max-width: 479px) and (min-width: 319px) {
	.header {
		padding-top: 8px;
		border-bottom: 4px solid #307FC9;
	}
	.header__logo img {
		max-width: 144px;
	}	
	.header__logo {
		border-right: 0;
		padding-right: 0;
		width: 170px;
	}
	.logo-span {
		.pb();
		display: inline-block;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.04em;
		color: #616467;
		margin-top: 0;
	}
	.header__home {
		display: none;
	}
	.header__time {
		display: none;
	}
	.header__top {
		align-items: flex-end;
		padding-bottom: 2px;
	}
	.header__call {
		display: none;
	}
	.header__office {
		display: none;
	}
	.header__call-info span {
		font-size: 13px;
		line-height: 18px;
	}
	.phone {
		font-size: 13px;
		line-height: 18px;
	}
	.phone b {
		font-size: 15px;
	}
	.header__user {
		display: none;
	}
	.header__office .callback {
		font-size: 12px;
		line-height: 16px;
	}
	.header__user-info {
		max-width: 115px;
	}
	.header__bottom .nav-link {
		padding: 11px 15px;
		font-size: 13px;
		line-height: 17px;
	}
	.header__bottom .right__nav {
		width: 46%;
		background-position: left center;
		height: 70px;
		padding: 0;
		bottom: 0px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 15px;
	}

	.header__bottom .right__nav .req-link {
		display: none;
	}
	.header__bottom .right__nav .est-link {
		display: none;
	}

	.open-menu {
		.pb();
		display: block;	
		max-width: 35px;
		font-size: 10px;
		line-height: 10px;
		letter-spacing: 0.17em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-left: 10px;

		span {
			display: inline-block;
			width: 34px;
			height: 3px;
			background: #FFFFFF;
			margin-bottom: 5px;
		}
	}
	.header__bottom-line {
		display: none;
	}
	.header__bottom .right__nav::before {
		width: 8px;
		left: -8px;
	}
	.header__bottom {
		margin-top: 0;
	}
	.selectCar {
		display: none;
	}
	.selectCar__row {
		flex-direction: column;
		align-items: flex-start;
	}
	.selectCar .select {
		font-size: 12px;
		line-height: 14px;
		margin-right: 10px;
		max-width: 100%;
	}
	.selectCar__row form {
		margin-top: 10px;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.selectCar .marka {
		margin-right: 0;
		margin-bottom: 8px;
		width: 100%;
	}
	.selectCar .marka .select2-container {
		width: 100% !important;
	}
	.selectCar .marka-label {
		display: none;
	}
	.selectCar .models {
		margin-right: 0;
		width: 100%;
		margin-bottom: 8px;
	}
	.selectCar .models .select2-container {
		width: 100% !important;
	}
	.selectCar .models-label {
		display: none;
	}
	.selectCar .period {
		margin-right: 0;
		margin-bottom: 8px;
		width: 100%;
	}
	.selectCar .period .select2-container {
		width: 100% !important;
	}
	.selectCar .period-label {
		display: none;
	}
	.selectCar .price {
		margin-right: 0;
		margin-bottom: 8px;
		width: 100%;
	}
	.selectCar .price .select2-container {
		width: 100% !important;
	}
	.selectCar .price-label {
		display: none;
	}
	.selectCar .showAll {
		width: 100%;
		height: 30px;
		font-size: 11px;
		line-height: 14px;
		margin-left: auto;
	}
	.select2-container--default .select2-selection--single {
		height: 30px !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 29px !important;
		padding-left: 12px !important;
	}
	.select2-results__option {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	.main {
		margin-top: -10px;
	}
	.main-img {
		height: 219px;
		padding: 0 30px;
		background-position: center right -90px !important;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0px 4px 40px rgba(199, 209, 222, 0.3));
			z-index: 5;
		}
	}
	.deal__variant-header {
		height: 35px;
		line-height: 35px;
		font-size: 12px;
		width: 100%;
		border-radius: 0px;
	}
	.deal__variants {
		margin-top: 0;
		border: none;
		background: transparent;
		flex-direction: column;
	}
	.main-btn {
		width: 32px;
		height: 32px;
	}
	.main .red-text {
		font-size: 10px;
		line-height: 13px;
	}
	.main .blue-text {
		font-size: 14px;
		line-height: 20px;
		max-width: 200px;
		margin: 0;
	}
	.main .more {
		font-size: 10px;
		line-height: 24px;
		width: 129px;
		height: 24px;
		margin-top: 10px;
	}
	.main-pagination {
		bottom: 25px !important;
	}
	.main .swiper-pagination-bullet {
		width: 24px;
		height: 3px;
	}
	.deal__variant-buy {
		background: @bluebtn;
		margin-left: auto;
	}
	.deal__variant-sell {
		background: @redbtn;
		margin-right: auto;
	}
	.deal__variant-header {
		color: rgba(255,255,255, .5);
		border-right: 1px solid transparent;
		border-bottom: none;
		
	}
	.deal__variant-body {
		padding: 0 0 20px 0;
		background: #fff;
	}
	.transform-body {
		transform: translateX(-50%);
	}
	.deal__variant {
		width: 100%;
	}

	.deal__variant-body .buy-form .deal__item {
		width: calc(100% / 2);
	}
	.deal__variant-body .buy-form .automark {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}
	.deal__variant-body .buy-form .car-label {
		width: 100%;
		height: 60px;
	}
	.deal__variant-body .buy-form .deal__item:not(:nth-child(2n)) {
		// margin-right: 6px;
	}
	.deal__variant-body span.variant-text {
		margin-top: 10px;
		font-size: 12px;
	}
	.deal__variant-body .buy-form .car-label span {
		font-size: 12px;
		margin-left: 5px;
	}
	.deal__selects .dmarka-label {
		display: none;
	}
	.deal__selects .dmodel-label {
		display: none;
	}
	.deal__selects .dperiod-label {
		display: none;
	}
	.deal__selects .dprobeg2-label {
		display: none;
	}
	.deal__selects .dprice-label {
		display: none;
	}
	.deal__selects .ddate-label {
		display: none;
	}
	.deal__selects .dprobeg-label {
		display: none;
	}
	.select2-results__options {
		padding: 10px;
	}
	.deal__variant-body .buy-form .deal__items {
		margin-top: 10px;
	}
	.deal__selects {
		margin-top: 10px;
	}
	.deal__selects .dprice {
		margin-right: 0;
		margin-bottom: 6px;
		width: 100%;
	}
	.deal__selects .dprice .select2-container {
		width: 100% !important;
	}
	.deal__selects .ddate {
		margin-right: 0;
		margin-bottom: 6px;
		width: 100%;
	}
	.deal__selects .ddate .select2-container {
		width: 100% !important;
	}
	.deal__selects .dprobeg {
		margin-right: 0;
		margin-bottom: 6px;
		width: 100%;
	}
	.deal__selects .dprobeg .select2-container {
		width: 100% !important;
	}
	.deal .form-submit {
		margin-top: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.deal .form-btn {
		width: 100%;
		height: 35px;
		line-height: 31px;
		font-size: 12px;
		svg {
			width: 25px;
			height: 25px;
		}
	}
	.deal__selects .dmarka {
		width: 100%;
		margin-right: 0;
		margin-bottom: 6px;
	}
	.deal__selects .dmarka .select2-container {
		width: 100% !important;
	}
	.deal__selects .dmodel {
		width: 100%;
		margin-right: 0;
		margin-bottom: 6px;
	}
	.deal__selects .dmodel .select2-container {
		width: 100% !important;
	}
	.deal__selects .dperiod {
		width: 100%;
		margin-right: 0;
		margin-bottom: 6px;
	}
	.deal__selects .dperiod .select2-container {
		width: 100% !important;
	}
	.deal__selects .dprobeg2 {
		width: 100%;
		margin-right: 0;
	}
	.deal__selects .dprobeg2 .select2-container {
		width: 100% !important;
	}
	.deal .form-submit.mt60 {
		margin-top: 20px;
	}
	.deal .alert {
		margin-top: 20px;
	}
	.deal .redbtn {
		width: 100%;
		height: 31px;
		line-height: 31px;
		font-size: 12px;
		margin-left: 0;
		margin-top: 10px;
	}
	.title {
		font-size: 18px;
		line-height: 110%;
	}
	.deal {
		padding-bottom: 20px;
	}
	.buy-form {
		padding: 0 20px 20px 20px;
	}
	.sell-form {
		padding: 0 20px 20px 20px;
	}
	.deal .alert p {
		font-size: 11px;
		line-height: 12px;
	}
	.deal .alert svg {
		width: 34px;
		height: 34px;
	}
	.deal .podrobnee {
		font-size: 12px;
		line-height: 16px;
	}
	.deal__selects .ditems {
		margin-top: 10px;
	}
	.deal__selects .ditems .ditem {
		margin-left: 0;
		margin-right: 10px;
	}
	.special__items {
		flex-wrap: wrap;
	}
	.special__items-four {
		width: 100%;
		margin-right: 0;
		flex-direction: column;
	}
	.special__item {
		width: 100%;
		display: flex;
		align-items: flex-start;
		height: auto;
		margin-bottom: 20px;
	}
	.special__items {
		flex-wrap: wrap;
	}
	.special__item.more__item {
		width: 100% !important;
	}
	.special__item:not(:last-child) {
		margin-right: 0;
	}
	.special__item:nth-child(4) {
		margin-right: 0;
	}
	.special__item-img {
		height: 130px;
		width: 110px;
		flex-shrink: 0;
		img {
			height: 100%;
			object-fit: cover;
		}
	}
	.special__item-info {
		padding: 10px;
		width: 100%;
		height: auto;
	}
	.special__item-hidden span {
		font-size: 10px;
		line-height: 12px;
		text-align: center;
	}
	.special__item-value {
		top: 5px;
		right: 5px;
		width: 40px;
		height: 20px;
	}
	.special__item-value svg {
		width: 14px;
		height: 12px;
	}
	.special__item-value p {
		font-size: 10px;
		line-height: 12px;
	}
	.special__item-info .car-price {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 5px;
	}
	.special__item-info h4 {
		font-size: 14px;
		line-height: 16px;
	}
	.special__item-info .description {
		margin-top: 5px;
	}
	.special__item-info .description p {
		font-size: 11px;
		line-height: 13px;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 123px;
	}
	.special__item-info .car-call {
		margin-top: 5px;
	}
	.special__item-info .car-price .new-price {
		font-size: 16px;
		line-height: 21px;
		margin-right: 10px;
	}
	.special__item-info .car-price .old-price {
		font-size: 13px;
		line-height: 17px;
	}
	.special__item-info .car-call .callback {
		height: 24px;
		line-height: 24px;
		font-size: 12px;
	}
	.special__item.more__item {
		margin-top: 20px;
		padding: 0 10px 10px 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.special__item.more__item img {
		display: none;
	}
	.special__item.more__item .tomore {
		width: 100%;
		height: 31px;
		line-height: 31px;
		margin-top: 10px;
		font-size: 12px;
		margin-left: 0;
	}
	.special__item.more__item p {
		font-size: 12px;
		line-height: 16px;
	}
	.special__item.more__item span {
		font-size: 36px;
		line-height: 47px;
		margin: 0 5px;
	}
	.scheme__item-top {
		svg {
			max-width: 100%;
			max-height: 55px;
		}
	}
	.scheme__items {
		padding: 0;
		flex-wrap: wrap;
		align-items: inherit;
	}
	.scheme__item-bottom {
		font-size: 11px;
		line-height: 100%;
		padding: 0 2px;
		border: none;
		height: auto;
		span {
			font-size: 10px;
			line-height: 100%;
			margin-top: 4px;
		}
	}
	.scheme__item {
		width: calc(100% / 2);
		border-right: 1px solid #E3E9EF;
		border-bottom: 1px solid #E3E9EF;
		padding-bottom: 15px;
	}
	.scheme__item-top .next-arr {
		display: none;
	}
	.gift__left {
		width: 310px;
		height: 100px;
		top: 35px;
		transform: none;
		background-position: center right;
		padding-left: 20px;
		align-items: flex-start;
	}
	.gift__left h4 {
		font-size: 20px;
		line-height: 18px;
		max-width: 80%;
	}
	.gift__left p {
		font-size: 18px;
		line-height: 18px;
		max-width: 100%;
		margin-top: 5px;
		svg {
			display: none;
		}
	}
	.gift__right {
		width: 100%;
		height: 279px;
		padding: 0 20px;
	}
	.gift__right .form-item {
		width: 100%;
		
		height: 44px;
		padding: 6px 9px;
		margin-right: 0;
		margin-bottom: 10px;
		&:nth-child(2) {
			margin-right: 0;
			margin-bottom: 0;
		}
	}
	.gift__right .form-input {
		margin-top: 0;
	}
	.gift__right .redbtn {
		width: 100%;
		font-size: 12px;
		height: 44px;
		line-height: 44px;
		margin-top: 20px;
	}
	.gift__right form {
		margin-top: 60px;
		flex-wrap: wrap;
	}
	.gift {
		padding: 60px 0 0 0;
	}
	.reviews {
		padding: 20px 0 20px 0;
	}
	.reviews-nav .reviews-btn {
		width: 36px;
		height: 36px;
		svg {
			width: 19px;
		}
	}
	.reviews-slide {
		padding: 29px 20px;
		height: auto;
	}
	.reviews-slide .user-photo {
		width: 61px;
		height: 61px;
	}
	.reviews-slide .reviews__date {
		margin: 5px 0;
	}
	.reviews-slide .reviews__text {
		font-size: 13px;
		line-height: 18px;
	}
	.reviews-slide .user__reviews {
		margin-left: 17px;
	}

	.footer__bottom {
		padding: 0;
		height: 228px;
	}
	.map {
		max-width: 100%;
	}
	.map::before {
		display: none;
	}
	.footer__right {
		width: 100%;
		height: 100%;
		background: #DD2819;
		padding-right: 20px;
	}
	.footer .footer__top {
		padding: 25px 0;
		height: auto;
		align-items: flex-start;
		.header__home {
			display: none;
		}
		.header__time {
			display: none;
		}
		.header__call {
			display: none;
		}
		.header__office {
			display: none;
		}
	}
	.footer__right .req-link {
		padding-right: 13px;
		font-size: 16px;
		line-height: 16px;
		max-width: 100%;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		svg {
			width: 18px;
			height: 20px;
			flex-shrink: 0;
		}
	}
	.footer__right .est-link {
		padding-left: 13px;
		font-size: 16px;
		line-height: 16px;
		max-width: 100%;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		svg {
			width: 18px;
			height: 20px;
			flex-shrink: 0;
		}
	}
	.footer__bottom-left {
		display: none;
	}
	.mobile__menu {
		top: 70px;
	}
	.mobile__menu.active {
		height: calc(100vh - 70px);
	}
	.to-up {
		width: 40px;
		height: 40px;
	}
	.to-up svg {
		width: 24px;
	}
	.special__items-four {
		margin-right: 0;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 33px;
			background: linear-gradient(90deg, #FFFFFF -29.82%, rgba(255, 255, 255, 0) 72.81%);
			opacity: 0.8;
			z-index: 12;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 33px;
			background: linear-gradient(90deg, #FFFFFF -29.82%, rgba(255, 255, 255, 0) 63.16%);
			transform: matrix(-1, 0, 0, 1, 0, 0);
			opacity: 0.8;
			z-index: 12;
		}
	}
	.special__item-img img {
		width: 100%;
	}
	.mobile__menu .header__bottom-line .nav-list-item:not(:last-child) .nav-link {
		padding-bottom: 0;
		margin-bottom: 15px;
	}
	.mobile__menu-one .phones {
		max-width: 100%;
	}
	.mobile__menu-one .phones span {
		display: none;
	}

	.reviews {
		padding: 20px 0 20px 0;
	}
	.reviews-nav .reviews-btn {
		width: 36px;
		height: 36px;
		svg {
			width: 19px;
		}
	}
	.reviews-slide {
		padding: 18px;
		height: auto;
	}
	.reviews-slide .user-photo {
		width: 43px;
		height: 43px;
	}
	.reviews-slide .reviews__date {
		margin: 5px 0;
	}
	.reviews-slide .reviews__text {
		font-size: 13px;
		line-height: 18px;
		padding: 0 18px;
		transform: translateX(-28%);
	}
	.reviews-slide .user__reviews {
		margin-left: 17px;
	}

	.footer__bottom {
		padding: 0;
		height: 228px;
	}
	.map {
		max-width: 100%;
	}
	.map::before {
		display: none;
	}
	.footer__right {
		width: 100%;
		height: 100%;
		background: #DD2819;
		padding-right: 0;
		flex-direction: column;
	}
	.footer .footer__top {
		padding: 45px 0;
		height: auto;
		align-items: flex-start;
		.header__home {
			display: none;
		}
		.header__time {
			display: none;
		}
		.header__call {
			display: none;
		}
		.header__office {
			display: none;
		}
	}
	.footer__right .req-link {
		padding: 10px 0;
		font-size: 16px;
		line-height: 16px;
		max-width: 100%;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		border-right: 0;
		border-bottom: 1px solid #F0887F;
		svg {
			width: 18px;
			height: 20px;
			flex-shrink: 0;
		}
	}
	.footer__right .est-link {
		padding: 10px 0;
		font-size: 16px;
		line-height: 16px;
		max-width: 100%;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		svg {
			width: 18px;
			height: 20px;
			flex-shrink: 0;
		}
	}
	.footer__bottom-left {
		display: none;
	}
	.mobile__menu {
		top: 66px;
	}
	.mobile__menu.active {
		height: calc(100vh - 70px);
	}
	.to-up {
		width: 40px;
		height: 40px;
	}
	.to-up svg {
		width: 24px;
	}
	.special__items-four {
		margin-right: 0;
		position: relative;
		&::before {
			// content: '';
			// position: absolute;
			// top: 0;
			// left: 0;
			// height: 100%;
			// width: 33px;
			// background: linear-gradient(90deg, #FFFFFF -29.82%, rgba(255, 255, 255, 0) 72.81%);
			// opacity: 0.8;
			// z-index: 12;
			display: none;
		}
		&::after {
			// content: '';
			// position: absolute;
			// top: 0;
			// right: 0;
			// height: 100%;
			// width: 33px;
			// background: linear-gradient(90deg, #FFFFFF -29.82%, rgba(255, 255, 255, 0) 63.16%);
			// transform: matrix(-1, 0, 0, 1, 0, 0);
			// opacity: 0.8;
			// z-index: 12;
			display: none;
		}
	}
	.special__item-img img {
		width: 100%;
	}
}




@media (max-width: 767px) and (min-width: 700px) {
	.header__bottom .right__nav {
		width: 56%;
	}
}