@font-face {
    font-family: 'PT Sans';
    src: url('PTSans-Regular.eot');
    src: url('PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('PTSans-Regular.woff') format('woff'),
        url('PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTSans-Bold.eot');
    src: url('PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('PTSans-Bold.woff') format('woff'),
        url('PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

