<header class="header">
	<div class="container">
		<div class="header__top">
			<div class="header__logo">
				<a href="/">
					<img src="%=static=%img/general/logo.svg" alt="Главная">
				</a>
			</div>
			<div class="header__home">
				{{Icon iconName="home"}}
				<div class="header__home-place">
					<span>
						Челябинск, <br>
						ул. Цинковая, д. 1, корпус 2
					</span>
					<a href="#" class="show-link">Посмотреть схему проезда</a>
				</div>
			</div>
			<div class="header__time">
				{{Icon iconName="calendar"}}
				<div class="header__time-info">
					<span>Ждём вас ежедневно</span>
					<p>Пн-Пт с 09:00 до 19:00</p>
					<p>Сб-Вс с 10:00 до 17:00</p>
				</div>
			</div>
			<div class="header__call">
				{{Icon iconName="phone"}}
				<div class="header__call-info">
					<span>Звоните</span>
					<a href="tel:+79120825050" class="phone"><b>+7 912</b> 082 50 50 Продажи </a>
					<a href="tel:+79049787478" class="phone"><b>+7 904</b> 978 74 78 Сервис</a>
				</div>
			</div>
			<div class="header__office">
				<a href="tel:+79120825050" class="phone"><b>+7 351</b> 082 50 50 Офис</a>
				<a href="#" class="callback">Обратная связь</a>
			</div>
			<div class="header__user">
				{{Icon iconName="user"}}
				<div class="header__user-info">
					<a href="#" class="register">Зарегистрироваться</a>
					<p>Мы будем уведомлять вас о новинках</p>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="header__bottom">
	<div class="container">
		<div class="header__bottom-line">
			<nav class="navigation">
				<ul class="nav-list">
					<li class="nav-list-item">
						<a href="#" class="nav-link">Главная</a>
					</li>
					<li class="nav-list-item">
						<a href="#" class="nav-link">
							Каталог 
							{{Icon iconName="link-triangle"}}
						</a>
					</li>
					<li class="nav-list-item">
						<a href="#" class="nav-link">
							Продать автомобиль 
							{{Icon iconName="link-triangle"}}
						</a>
					</li>
					<li class="nav-list-item">
						<a href="#" class="nav-link">
							Автосервис 
							{{Icon iconName="link-triangle"}}
						</a>
					</li>
					<li class="nav-list-item">
						<a href="#" class="nav-link">
							О нас 
							{{Icon iconName="link-triangle"}}
						</a>
					</li>
					<li class="nav-list-item">
						<a href="#" class="nav-link">
							Контакты 
							{{Icon iconName="link-triangle"}}
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="right__nav">
		<a href="#" class="req-link">{{Icon iconName="right-icon"}} заявка на подбор</a>
		<a href="#" class="est-link">{{Icon iconName="right-icon2"}} оценить свой авто</a>
		<div class="open-menu">
			<span class="first-span"></span>
			<span class="second-span"></span>
			<p>меню</p>
		</div>
	</div>
</div>