.container {
	max-width: 1710px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 1750px) and (min-width: 1250px) {
	.container {
		max-width: 1214px;
	}
}

@media (max-width: 1249px) and (min-width: 992px) {
	.container {
		max-width: 958px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 767px) and (min-width: 480px) {
	.container {
		max-width: 470px;
	}
}

@media (max-width: 479px) and (min-width: 319px) {
	.container {
		max-width: 310px;
	}
}

.title {
	.pb();
	font-size: 30px;
	line-height: 39px;
	letter-spacing: 0.03em;

	color: #232425;
}