/* Fonts settings */
@font-face {
	font-display: swap;
    font-family: 'PTSans_regular';
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-display: swap;
    font-family: 'PTSans_bold';
    src: url('../fonts/PTSans-Bold.eot');
    src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Bold.woff') format('woff'),
        url('../fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.pr(){
    font-family: 'PTSans_regular', sans-serif;
}
.pb() {
	font-family: 'PTSans_bold', sans-serif;
}

@bluebtn: #307FC9;
@redbtn: #DD2819;
@light: #FFF;
@selectcolor: #E9F0F9;
@textcolor: #616467;
@titlecolor: #232425;

